mca/data/npm
[{"id":"e5e12e11.00c9c","type":"tab","label":"MCA | GET /register","disabled":false,"info":"End-user sends a get request to the enrollment endpoint of the MCA in order to get an enrollment form."},{"id":"15a9c0b5.a92147","type":"tab","label":"MCA | POST /register","disabled":false,"info":""},{"id":"8a45f167.279f88","type":"tab","label":"MCA | vEncrypt IBV","disabled":false,"info":""},{"id":"836f447.e9c75b8","type":"tab","label":"MCA | share[1/2] storage","disabled":false,"info":""},{"id":"f39a1cd.89d97e","type":"tab","label":"MCA | encrypt share[2/2]","disabled":false,"info":""},{"id":"f9ce0150.8ddb8","type":"tab","label":"MCA | POST @ issuer/enroll","disabled":false,"info":""},{"id":"356f86e8.1e821a","type":"http in","z":"e5e12e11.00c9c","name":"","url":"tomato","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2280,"wires":[["70c4a053.54ea98"]]},{"id":"34101ccf.b0c284","type":"http response","z":"e5e12e11.00c9c","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":490,"y":2280,"wires":[]},{"id":"70c4a053.54ea98","type":"template","z":"e5e12e11.00c9c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":340,"y":2280,"wires":[["34101ccf.b0c284"]]},{"id":"b38c4232.be09e8","type":"http in","z":"e5e12e11.00c9c","name":"GET /register","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":90,"y":560,"wires":[["6b1a4b84.6a1fe4","6f11b984.23075","f55d3f70.12d738"]]},{"id":"6f11b984.23075","type":"template","z":"e5e12e11.00c9c","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <style>\n            body{\n              font-family: Calibri, Helvetica, sans-serif;\n              background-color: #5d5c61;\n            }\n            \n            .container {\n                padding: 50px;\n                background-color: #557a95;\n                margin: auto;\n            }\n            \n            input[type=text], input[type=password], textarea {\n                width: 95%;\n                padding: 15px;\n                margin: 5px 0 22px 0;\n                display: inline-block;\n                border: none;\n                background: #f1f1f1;\n                background-color: #ddd;\n            }\n            \n            input[type=text]:focus, input[type=password]:focus, textarea:focus {\n                background-color: #fff;\n                outline: none;\n            }\n            \n            div {\n                padding: 10px 0;\n            }\n            \n            fieldset {\n                background-color: #dddddd;\n            }\n            \n            h1 {\n                text-align: center;\n            }\n            \n            hr {\n                border: 1px solid #f1f1f1;\n                margin-bottom: 25px;\n            }\n            \n            legend {\n                background-color: #b1a296;\n                color: white;\n                padding: 5px 10px;\n            }\n\n            .registerbtn {\n                background-color: #4CAF50;\n                color: white;\n                padding: 16px 20px;\n                margin: 8px 0;\n                border: none;\n                cursor: pointer;\n                width: 100%;\n                opacity: 0.9;\n            }\n            .registerbtn:hover {\n                opacity: 1;\n            }\n        </style>\n    </head>\n    \n    <body>\n        <form enctype='multipart/form-data' action=\"/register\" method=\"post\">\n            <div class=\"container\">\n                \n                <h1>BOPS registration form</h1>\n                <hr>\n                <fieldset name=\"PII\">\n                    <legend>PII</legend>\n                    <label for=\"PII['firstname']\"> Firstname </label><br>\n                    <input type=\"text\" name=\"PII['firstname']\" placeholder= \"Firstname\" size=\"15\" required /> <br>\n                    \n                    <label for=\"PII['middlename']\"> Middlename: </label><br> \n                    <input type=\"text\" name=\"PII['middlename']\" placeholder=\"Middlename\" size=\"15\" required /> <br>\n                    \n                    <label for=\"PII['lastname']\"> Lastname: </label><br>\n                    <input type=\"text\" name=\"PII['lastname']\" placeholder=\"Lastname\" size=\"15\" required /> <br>\n    \n                    \n                    <div>\n                        <label for=\"PII['gender']\"> Gender :</label><br>\n                        <input type=\"radio\" value=\"Male\" name=\"PII['gender']\" checked > Male <br>\n                        <input type=\"radio\" value=\"Female\" name=\"PII['gender']\"> Female <br>\n                        <input type=\"radio\" value=\"Other\" name=\"PII['gender']\"> Other <br>\n                    </div>\n                    \n                    <label> Phone :</label><br>\n                    <input type=\"text\" name=\"PII['phone']\" placeholder=\"phone no.\" size=\"10\" required><br>\n                \n                    <label> Current Address :</label><br>\n                    <textarea cols=\"80\" rows=\"5\" placeholder=\"Current Address\" value=\"address\" required></textarea><br>\n                    \n                                   \n                    <label for=\"email\"><b>Email</b></label><br>\n                    <input type=\"text\" placeholder=\"Enter Email\" name=\"PII['email']\" required><br>\n                \n                    <!-- ASSUMED THAT THIS IS NOT REQUIRED \n                        <label for=\"psw\"><b>Password</b></label>\n                        <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" required>\n                \n                        <label for=\"psw-repeat\"><b>Re-type Password</b></label>\n                        <input type=\"password\" placeholder=\"Retype Password\" name=\"psw-repeat\" required>\n                    -->\n                </fieldset>\n                <br><br>                \n                <fieldset name=\"IBVs\">\n                    <legend>IBVs</legend>\n                    \n                    <label for=\"features['face']\"><b>Fingerprint</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"features['fingerprint']\"><br><br>\n                    \n                    <label for=\"features['voice']\"><b>Facial photograph</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"features['voice']\"><br><br>\n                </fieldset>\n                <button type=\"submit\" class=\"registerbtn\">Register</button>  \n        </form>\n    </body>\n</html>\n","output":"str","x":480,"y":560,"wires":[["9d607965.925f5","7f21851e.42b934","61068b18.a37f94"]]},{"id":"9d607965.925f5","type":"http response","z":"e5e12e11.00c9c","name":"res: enrollment page","statusCode":"","headers":{},"x":880,"y":560,"wires":[]},{"id":"6b1a4b84.6a1fe4","type":"debug","z":"e5e12e11.00c9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":40,"wires":[]},{"id":"7f21851e.42b934","type":"debug","z":"e5e12e11.00c9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"500aebe4.87896c","type":"debug","z":"15a9c0b5.a92147","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":100,"wires":[]},{"id":"a0e609db.3fd92","type":"http in","z":"15a9c0b5.a92147","name":"POST /register","url":"/register","method":"post","upload":true,"swaggerDoc":"","x":100,"y":560,"wires":[["500aebe4.87896c","4b915535.d5157c","564365d5.d06c94","e78d41c4.860378","9b326547.ec461"]]},{"id":"4b915535.d5157c","type":"debug","z":"15a9c0b5.a92147","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":60,"wires":[]},{"id":"564365d5.d06c94","type":"debug","z":"15a9c0b5.a92147","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":20,"wires":[]},{"id":"e78d41c4.860378","type":"debug","z":"15a9c0b5.a92147","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":140,"wires":[]},{"id":"f55d3f70.12d738","type":"debug","z":"e5e12e11.00c9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":80,"wires":[]},{"id":"61068b18.a37f94","type":"debug","z":"e5e12e11.00c9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":40,"wires":[]},{"id":"9b326547.ec461","type":"link out","z":"15a9c0b5.a92147","name":"","links":["51a96cb9.9f58d4"],"x":305,"y":560,"wires":[]},{"id":"51a96cb9.9f58d4","type":"link in","z":"8a45f167.279f88","name":"link from [POST /register]","links":["9b326547.ec461"],"x":55,"y":560,"wires":[["f5368413.373ef8"]]},{"id":"f5368413.373ef8","type":"function","z":"8a45f167.279f88","name":"transform IBV","func":"var b64 = transformB64(msg.req.files[0]);\nmsg.payload.b64 = b64;\nreturn msg;\n\nfunction transformB64(item){\n    let binary = '';\n    let byteBuffer = item.buffer;\n    for (var j=0; j<byteBuffer.byteLength; j++){\n        binary += String.fromCharCode( byteBuffer[j]);\n    }\n    return binary;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":560,"wires":[["49272266.3173b4"]]},{"id":"49272266.3173b4","type":"debug","z":"8a45f167.279f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":100,"wires":[]}]