mca/data/npm
[{"id":"bcbca109.714df8","type":"tab","label":"GET /enroll","disabled":false,"info":"End-user sends a get request to the enrollment endpoint of the MCA in order to get an enrollment form."},{"id":"11c21fa0.b9f4c8","type":"tab","label":"POST /enroll","disabled":false,"info":""},{"id":"d2b8e455.8b5008","type":"http in","z":"bcbca109.714df8","name":"","url":"tomato","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2280,"wires":[["d74b14b5.88357"]]},{"id":"931e6f33.d1deb","type":"http response","z":"bcbca109.714df8","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":490,"y":2280,"wires":[]},{"id":"d74b14b5.88357","type":"template","z":"bcbca109.714df8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":340,"y":2280,"wires":[["931e6f33.d1deb"]]},{"id":"bfd50abc.01d498","type":"http in","z":"bcbca109.714df8","name":"GET /enroll","url":"/enroll","method":"get","upload":false,"swaggerDoc":"","x":90,"y":560,"wires":[["ea83c731.a46628","decca15.dd78ee"]]},{"id":"decca15.dd78ee","type":"template","z":"bcbca109.714df8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody{\n  font-family: Calibri, Helvetica, sans-serif;\n  background-color: pink;\n}\n.container {\n    padding: 50px;\n  background-color: lightblue;\n}\n\ninput[type=text], input[type=password], textarea {\n  width: 100%;\n  padding: 15px;\n  margin: 5px 0 22px 0;\n  display: inline-block;\n  border: none;\n  background: #f1f1f1;\n}\ninput[type=text]:focus, input[type=password]:focus {\n  background-color: orange;\n  outline: none;\n}\n div {\n            padding: 10px 0;\n         }\nhr {\n  border: 1px solid #f1f1f1;\n  margin-bottom: 25px;\n}\n.registerbtn {\n  background-color: #4CAF50;\n  color: white;\n  padding: 16px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n  opacity: 0.9;\n}\n.registerbtn:hover {\n  opacity: 1;\n}\n</style>\n</head>\n<body>\n<form enctype='application/json' action=\"/enroll\" method=\"post\">\n    <div class=\"container\">\n        <center>  <h1> Student Registeration Form</h1> </center>\n        <hr>\n        <label> Firstname </label> \n        <input type=\"text\" name=\"PII['firstname']\" placeholder= \"Firstname\" size=\"15\" required /> \n        \n        <label> Middlename: </label> \n        <input type=\"text\" name=\"PII['middlename']\" placeholder=\"Middlename\" size=\"15\" required /> \n        \n        <label> Lastname: </label>  \n        <input type=\"text\" name=\"PII['lastname']\" placeholder=\"Lastname\" size=\"15\"required /> \n    \n        <div>\n        <label> Course :</label> \n        <select>\n                <option value=\"Course\">Course</option>\n                <option value=\"BCA\">BCA</option>\n                <option value=\"BBA\">BBA</option>\n                <option value=\"B.Tech\">B.Tech</option>\n                <option value=\"MBA\">MBA</option>\n                <option value=\"MCA\">MCA</option>\n                <option value=\"M.Tech\">M.Tech</option>\n            </select>\n        </div>\n    \n        <div>\n            <label> Gender :</label><br>\n            <input type=\"radio\" value=\"Male\" name=\"PII['gender']\" checked > Male \n            <input type=\"radio\" value=\"Female\" name=\"PII['gender']\"> Female \n            <input type=\"radio\" value=\"Other\" name=\"PII['gender']\"> Other\n        </div>\n\n        <label> Phone :</label>\n        <input type=\"text\" name=\"PII['country code']\" placeholder=\"Country Code\"  value=\"+41\" size=\"2\"/> \n        <input type=\"text\" name=\"PII['phone']\" placeholder=\"phone no.\" size=\"10\"/ required>\n        \n        <label> Current Address :</label>\n        <textarea cols=\"80\" rows=\"5\" placeholder=\"Current Address\" value=\"address\" required></textarea>\n        \n        <label for=\"email\"><b>Email</b></label>\n        <input type=\"text\" placeholder=\"Enter Email\" name=\"email\" required>\n\n        <label for=\"psw\"><b>Password</b></label>\n        <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" required>\n\n        <label for=\"psw-repeat\"><b>Re-type Password</b></label>\n        <input type=\"password\" placeholder=\"Retype Password\" name=\"psw-repeat\" required>\n        \n        <label> IBVs :</label>\n        <label for=\"features['face']\"><b>Password</b></label>\n        <input type=\"file\" id=\"myFile\" name=\"features['face']\">\n        <label for=\"features['voice']\"><b>Password</b></label>\n        <input type=\"file\" id=\"myFile\" name=\"features['voice']\">\n        \n        <button type=\"submit\" class=\"registerbtn\">Register</button>  \n</form>\n</body>\n</html>\n","output":"str","x":480,"y":560,"wires":[["ec70522b.f3c118","b64f60d9.58f0d"]]},{"id":"ec70522b.f3c118","type":"http response","z":"bcbca109.714df8","name":"res: enrollment page","statusCode":"","headers":{},"x":880,"y":560,"wires":[]},{"id":"ea83c731.a46628","type":"debug","z":"bcbca109.714df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":40,"wires":[]},{"id":"b64f60d9.58f0d","type":"debug","z":"bcbca109.714df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":40,"wires":[]},{"id":"6541bcf0.20851c","type":"debug","z":"11c21fa0.b9f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":260,"wires":[]},{"id":"1b0b6cdf.38d99b","type":"http in","z":"11c21fa0.b9f4c8","name":"POST /enroll","url":"/enroll","method":"post","upload":true,"swaggerDoc":"","x":90,"y":560,"wires":[["6541bcf0.20851c"]]}]