mca/data/npm
[{"id":"e5e12e11.00c9c","type":"tab","label":"MCA | GET /register","disabled":false,"info":"End-user sends a get request to the enrollment endpoint of the MCA in order to get an enrollment form."},{"id":"15a9c0b5.a92147","type":"tab","label":"MCA | POST /register","disabled":false,"info":""},{"id":"8a45f167.279f88","type":"tab","label":"MCA | vCrypto(IBV)","disabled":false,"info":""},{"id":"836f447.e9c75b8","type":"tab","label":"MCA | share[1/2] storage","disabled":false,"info":""},{"id":"f39a1cd.89d97e","type":"tab","label":"MCA | encrypt share[2/2]","disabled":false,"info":""},{"id":"f9ce0150.8ddb8","type":"tab","label":"MCA | POST @ issuer/enroll","disabled":false,"info":""},{"id":"356f86e8.1e821a","type":"http in","z":"e5e12e11.00c9c","name":"","url":"tomato","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2280,"wires":[["70c4a053.54ea98"]]},{"id":"34101ccf.b0c284","type":"http response","z":"e5e12e11.00c9c","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":490,"y":2280,"wires":[]},{"id":"70c4a053.54ea98","type":"template","z":"e5e12e11.00c9c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":340,"y":2280,"wires":[["34101ccf.b0c284"]]},{"id":"b38c4232.be09e8","type":"http in","z":"e5e12e11.00c9c","name":"GET /register","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":90,"y":560,"wires":[["6b1a4b84.6a1fe4","6f11b984.23075","f55d3f70.12d738"]]},{"id":"6f11b984.23075","type":"template","z":"e5e12e11.00c9c","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <style>\n            body{\n              font-family: Calibri, Helvetica, sans-serif;\n              background-color: #5d5c61;\n            }\n            \n            .container {\n                padding: 50px;\n                background-color: #557a95;\n                margin: auto;\n            }\n            \n            input[type=text], input[type=password], textarea {\n                width: 95%;\n                padding: 15px;\n                margin: 5px 0 22px 0;\n                display: inline-block;\n                border: none;\n                background: #f1f1f1;\n                background-color: #ddd;\n            }\n            \n            input[type=text]:focus, input[type=password]:focus, textarea:focus {\n                background-color: #fff;\n                outline: none;\n            }\n            \n            div {\n                padding: 10px 0;\n            }\n            \n            fieldset {\n                background-color: #dddddd;\n            }\n            \n            h1 {\n                text-align: center;\n            }\n            \n            hr {\n                border: 1px solid #f1f1f1;\n                margin-bottom: 25px;\n            }\n            \n            legend {\n                background-color: #b1a296;\n                color: white;\n                padding: 5px 10px;\n            }\n\n            .registerbtn {\n                background-color: #4CAF50;\n                color: white;\n                padding: 16px 20px;\n                margin: 8px 0;\n                border: none;\n                cursor: pointer;\n                width: 100%;\n                opacity: 0.9;\n            }\n            .registerbtn:hover {\n                opacity: 1;\n            }\n        </style>\n    </head>\n    \n    <body>\n        <form enctype='multipart/form-data' action=\"/register\" method=\"post\">\n            <div class=\"container\">\n                \n                <h1>BOPS registration form</h1>\n                <hr>\n                <fieldset name=\"PII\">\n                    <legend>PII</legend>\n                    <label for=\"PII['firstname']\"> Firstname </label><br>\n                    <input type=\"text\" name=\"PII['firstname']\" placeholder= \"Firstname\" size=\"15\" required /> <br>\n                    \n                    <label for=\"PII['middlename']\"> Middlename: </label><br> \n                    <input type=\"text\" name=\"PII['middlename']\" placeholder=\"Middlename\" size=\"15\" required /> <br>\n                    \n                    <label for=\"PII['lastname']\"> Lastname: </label><br>\n                    <input type=\"text\" name=\"PII['lastname']\" placeholder=\"Lastname\" size=\"15\" required /> <br>\n    \n                    \n                    <div>\n                        <label for=\"PII['gender']\"> Gender :</label><br>\n                        <input type=\"radio\" value=\"Male\" name=\"PII['gender']\" checked > Male <br>\n                        <input type=\"radio\" value=\"Female\" name=\"PII['gender']\"> Female <br>\n                        <input type=\"radio\" value=\"Other\" name=\"PII['gender']\"> Other <br>\n                    </div>\n                    \n                    <label> Phone :</label><br>\n                    <input type=\"text\" name=\"PII['phone']\" placeholder=\"phone no.\" size=\"10\" required><br>\n                \n                    <label> Current Address :</label><br>\n                    <textarea cols=\"80\" rows=\"5\" placeholder=\"Current Address\" value=\"address\" required></textarea><br>\n                    \n                                   \n                    <label for=\"email\"><b>Email</b></label><br>\n                    <input type=\"text\" placeholder=\"Enter Email\" name=\"PII['email']\" required><br>\n                \n                    <!-- ASSUMED THAT THIS IS NOT REQUIRED \n                        <label for=\"psw\"><b>Password</b></label>\n                        <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" required>\n                \n                        <label for=\"psw-repeat\"><b>Re-type Password</b></label>\n                        <input type=\"password\" placeholder=\"Retype Password\" name=\"psw-repeat\" required>\n                    -->\n                </fieldset>\n                <br><br>                \n                <fieldset name=\"IBVs\">\n                    <legend>IBVs</legend>\n                    \n                    <label for=\"features['fingerprint']\"><b>Fingerprint</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"features['fingerprint']\"><br><br>\n                    \n                    <label for=\"features['portrait']\"><b>Portrait</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"features['voice']\"><br><br>\n                </fieldset>\n                <button type=\"submit\" class=\"registerbtn\">Register</button>  \n        </form>\n    </body>\n</html>\n","output":"str","x":480,"y":560,"wires":[["9d607965.925f5","7f21851e.42b934","61068b18.a37f94"]]},{"id":"9d607965.925f5","type":"http response","z":"e5e12e11.00c9c","name":"res: enrollment page","statusCode":"","headers":{},"x":880,"y":560,"wires":[]},{"id":"6b1a4b84.6a1fe4","type":"debug","z":"e5e12e11.00c9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":40,"wires":[]},{"id":"7f21851e.42b934","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"500aebe4.87896c","type":"debug","z":"15a9c0b5.a92147","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":100,"wires":[]},{"id":"a0e609db.3fd92","type":"http in","z":"15a9c0b5.a92147","name":"POST /register","url":"/register","method":"post","upload":true,"swaggerDoc":"","x":100,"y":560,"wires":[["500aebe4.87896c","4b915535.d5157c","564365d5.d06c94","e78d41c4.860378","9b326547.ec461","f8ebb3d2.bde748","5c009e6c.b35fb"]]},{"id":"4b915535.d5157c","type":"debug","z":"15a9c0b5.a92147","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":60,"wires":[]},{"id":"564365d5.d06c94","type":"debug","z":"15a9c0b5.a92147","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":20,"wires":[]},{"id":"e78d41c4.860378","type":"debug","z":"15a9c0b5.a92147","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":140,"wires":[]},{"id":"f55d3f70.12d738","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":80,"wires":[]},{"id":"61068b18.a37f94","type":"debug","z":"e5e12e11.00c9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":40,"wires":[]},{"id":"9b326547.ec461","type":"link out","z":"15a9c0b5.a92147","name":"","links":["51a96cb9.9f58d4"],"x":635,"y":560,"wires":[]},{"id":"51a96cb9.9f58d4","type":"link in","z":"8a45f167.279f88","name":"link from [POST /register]","links":["9b326547.ec461"],"x":35,"y":560,"wires":[["60a0f314.5cfae4"]]},{"id":"f8ebb3d2.bde748","type":"image","z":"15a9c0b5.a92147","name":"png: fingerprint","width":160,"data":"req.files[0].buffer","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":380,"y":180,"wires":[]},{"id":"5c009e6c.b35fb","type":"image","z":"15a9c0b5.a92147","name":"png: portrait","width":160,"data":"req.files[1].buffer","dataType":"msg","thumbnail":false,"active":false,"pass":false,"outputs":0,"x":370,"y":400,"wires":[]},{"id":"6d5129c5.17ada8","type":"exec","z":"8a45f167.279f88","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":1130,"y":440,"wires":[["3ffefb28.fda5ec","4ad93237.86c484"],[],[]]},{"id":"60a0f314.5cfae4","type":"change","z":"8a45f167.279f88","name":"rewriting payload content","rules":[{"t":"move","p":"payload.PII","pt":"msg","to":"data.PII","tot":"msg"},{"t":"set","p":"data.ibvs.count","pt":"msg","to":"req.files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":560,"wires":[["3359e0bf.b4d308"]],"info":"move PII into msg.data\nwrite count of collected IBVs into msg.data.ibv.count"},{"id":"a1895b81.ef8e88","type":"template","z":"8a45f167.279f88","name":"od: 1/1 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":440,"wires":[["9486fdcf.dbba6","6d5129c5.17ada8"]]},{"id":"9486fdcf.dbba6","type":"debug","z":"8a45f167.279f88","name":"od-payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":40,"wires":[]},{"id":"3ffefb28.fda5ec","type":"debug","z":"8a45f167.279f88","name":"od-output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":40,"wires":[]},{"id":"1109f6b1.c9dcb1","type":"debug","z":"8a45f167.279f88","name":"od-output to arrayBuffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.ibvs","targetType":"msg","statusVal":"","statusType":"auto","x":2050,"y":40,"wires":[]},{"id":"3359e0bf.b4d308","type":"switch","z":"8a45f167.279f88","name":"","property":"data.ibvs.count","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":560,"wires":[["70fe112f.5b8ed","60160bc.556f374"],["78c6a85a.c47e48","60160bc.556f374"],["6c60eab4.611acc","43ab3341.5ea194","60160bc.556f374"],["5a0673b1.0ccefc","85c8167c.441008","8a0014ea.3be6d8","60160bc.556f374"]]},{"id":"3892d31f.f1522c","type":"template","z":"8a45f167.279f88","name":"od: 2/2 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":600,"wires":[["9486fdcf.dbba6","77375312.544c4c"]]},{"id":"f65cdb32.246a","type":"template","z":"8a45f167.279f88","name":"od: 1/2 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":560,"wires":[["9486fdcf.dbba6","75dfa298.bbc4dc"]]},{"id":"70fe112f.5b8ed","type":"template","z":"8a45f167.279f88","name":"od: 0/0 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <style>\n            body{\n              font-family: Calibri, Helvetica, sans-serif;\n              background-color: #5d5c61;\n            }\n            \n            .container {\n                padding: 50px;\n                background-color: #557a95;\n                margin: auto;\n            }\n            \n            input[type=text], input[type=password], textarea {\n                width: 95%;\n                padding: 15px;\n                margin: 5px 0 22px 0;\n                display: inline-block;\n                border: none;\n                background: #f1f1f1;\n                background-color: #ddd;\n            }\n            \n            input[type=text]:focus, input[type=password]:focus, textarea:focus {\n                background-color: #fff;\n                outline: none;\n            }\n            \n            div {\n                padding: 10px 0;\n            }\n            \n            fieldset {\n                background-color: #dddddd;\n            }\n            \n            h1 {\n                text-align: center;\n            }\n            h2 {\n                text-align: center;\n                color: red;\n            }\n            \n            hr {\n                border: 1px solid #f1f1f1;\n                margin-bottom: 25px;\n            }\n            \n            legend {\n                background-color: #b1a296;\n                color: white;\n                padding: 5px 10px;\n            }\n\n            .registerbtn {\n                background-color: #4CAF50;\n                color: white;\n                padding: 16px 20px;\n                margin: 8px 0;\n                border: none;\n                cursor: pointer;\n                width: 100%;\n                opacity: 0.9;\n            }\n            .registerbtn:hover {\n                opacity: 1;\n            }\n        </style>\n    </head>\n    \n    <body>\n        <form enctype='multipart/form-data' action=\"/register\" method=\"post\">\n            <div class=\"container\">\n                \n                <h1>BOPS registration form</h1>\n                <h2>At least one IBV is required, please supply it.</h2>\n                <hr>\n                <fieldset name=\"PII\">\n                    <legend>PII</legend>\n                    <label for=\"PII['firstname']\"> Firstname </label><br>\n                    <input type=\"text\" name=\"PII['firstname']\" placeholder= \"Firstname\" size=\"15\" required /> <br>\n                    \n                    <label for=\"PII['middlename']\"> Middlename: </label><br> \n                    <input type=\"text\" name=\"PII['middlename']\" placeholder=\"Middlename\" size=\"15\" required /> <br>\n                    \n                    <label for=\"PII['lastname']\"> Lastname: </label><br>\n                    <input type=\"text\" name=\"PII['lastname']\" placeholder=\"Lastname\" size=\"15\" required /> <br>\n    \n                    \n                    <div>\n                        <label for=\"PII['gender']\"> Gender :</label><br>\n                        <input type=\"radio\" value=\"Male\" name=\"PII['gender']\" checked > Male <br>\n                        <input type=\"radio\" value=\"Female\" name=\"PII['gender']\"> Female <br>\n                        <input type=\"radio\" value=\"Other\" name=\"PII['gender']\"> Other <br>\n                    </div>\n                    \n                    <label> Phone :</label><br>\n                    <input type=\"text\" name=\"PII['phone']\" placeholder=\"phone no.\" size=\"10\" required><br>\n                \n                    <label> Current Address :</label><br>\n                    <textarea cols=\"80\" rows=\"5\" placeholder=\"Current Address\" value=\"address\" required></textarea><br>\n                    \n                                   \n                    <label for=\"email\"><b>Email</b></label><br>\n                    <input type=\"text\" placeholder=\"Enter Email\" name=\"PII['email']\" required><br>\n                \n                    <!-- ASSUMED THAT THIS IS NOT REQUIRED \n                        <label for=\"psw\"><b>Password</b></label>\n                        <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" required>\n                \n                        <label for=\"psw-repeat\"><b>Re-type Password</b></label>\n                        <input type=\"password\" placeholder=\"Retype Password\" name=\"psw-repeat\" required>\n                    -->\n                </fieldset>\n                <br><br>                \n                <fieldset name=\"IBVs\">\n                    <legend>IBVs</legend>\n                    \n                    <label for=\"features['fingerprint']\"><b>Fingerprint</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"features['fingerprint']\"><br><br>\n                    \n                    <label for=\"features['portrait']\"><b>Portrait</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"features['voice']\"><br><br>\n                </fieldset>\n                <button type=\"submit\" class=\"registerbtn\">Register</button>  \n        </form>\n    </body>\n</html>\n","output":"str","x":930,"y":300,"wires":[["9486fdcf.dbba6","8b10a2d4.57e9a"]]},{"id":"e54c54c3.e13c38","type":"template","z":"8a45f167.279f88","name":"od: 1/3 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":720,"wires":[["9486fdcf.dbba6","d6674e13.4adfe8"]]},{"id":"bcbde0bd.e8fa28","type":"template","z":"8a45f167.279f88","name":"od: 2/3 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":760,"wires":[["9486fdcf.dbba6","96c449e0.a37c7"]]},{"id":"ef32fa5f.a7b738","type":"template","z":"8a45f167.279f88","name":"od: 3/3 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":800,"wires":[["9486fdcf.dbba6","cb0ffd87.8c1d58"]]},{"id":"8b10a2d4.57e9a","type":"http response","z":"8a45f167.279f88","name":"res: no IBV supplied","statusCode":"200","headers":{},"x":1720,"y":300,"wires":[]},{"id":"75dfa298.bbc4dc","type":"exec","z":"8a45f167.279f88","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":560,"wires":[["3ffefb28.fda5ec","b2472943.27703"],[],[]]},{"id":"77375312.544c4c","type":"exec","z":"8a45f167.279f88","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":600,"wires":[["3ffefb28.fda5ec","b2472943.27703"],[],[]]},{"id":"d6674e13.4adfe8","type":"exec","z":"8a45f167.279f88","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":720,"wires":[["3ffefb28.fda5ec","9701ef5c.d19038"],[],[]]},{"id":"96c449e0.a37c7","type":"exec","z":"8a45f167.279f88","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":760,"wires":[["3ffefb28.fda5ec","9701ef5c.d19038"],[],[]]},{"id":"cb0ffd87.8c1d58","type":"exec","z":"8a45f167.279f88","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":800,"wires":[["3ffefb28.fda5ec","9701ef5c.d19038"],[],[]]},{"id":"78c6a85a.c47e48","type":"change","z":"8a45f167.279f88","name":"payload = ibv[0].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[0].size","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":440,"wires":[["a1895b81.ef8e88"]]},{"id":"43ab3341.5ea194","type":"change","z":"8a45f167.279f88","name":"payload = ibv[0].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[0].size","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":560,"wires":[["f65cdb32.246a"]]},{"id":"6c60eab4.611acc","type":"change","z":"8a45f167.279f88","name":"payload = ibv[1].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[1].size","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":600,"wires":[["3892d31f.f1522c"]]},{"id":"8a0014ea.3be6d8","type":"change","z":"8a45f167.279f88","name":"payload = ibv[0].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[0].size","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":720,"wires":[["e54c54c3.e13c38"]]},{"id":"85c8167c.441008","type":"change","z":"8a45f167.279f88","name":"payload = ibv[1].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[1].size","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":760,"wires":[["bcbde0bd.e8fa28"]]},{"id":"5a0673b1.0ccefc","type":"change","z":"8a45f167.279f88","name":"payload = ibv[2].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[2].size","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":800,"wires":[["ef32fa5f.a7b738"]]},{"id":"7856f6c1.01bda","type":"change","z":"8a45f167.279f88","name":"","rules":[{"t":"move","p":"payload[\"1\"]","pt":"msg","to":"data.ibvs[1].randomBuffer","tot":"msg"},{"t":"move","p":"payload[\"0\"]","pt":"msg","to":"data.ibvs[0].randomBuffer","tot":"msg"},{"t":"move","p":"req.files[1]","pt":"msg","to":"data.ibvs[1].file","tot":"msg"},{"t":"move","p":"req.files[0]","pt":"msg","to":"data.ibvs[0].file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":580,"wires":[["ed1b0a91.22a99","14bd1bd6.31ce9c"]]},{"id":"4ad93237.86c484","type":"change","z":"8a45f167.279f88","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"data.ibvs.ibv0.randomBuffer","tot":"msg"},{"t":"move","p":"req.files[0]","pt":"msg","to":"data.ibvs.ibv0.file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":420,"wires":[["ed1b0a91.22a99","14bd1bd6.31ce9c"]]},{"id":"9701ef5c.d19038","type":"join","z":"8a45f167.279f88","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":760,"wires":[["85f21a5b.b3e758"]]},{"id":"b2472943.27703","type":"join","z":"8a45f167.279f88","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1290,"y":580,"wires":[["ffb967ce.051ee8","7856f6c1.01bda"]]},{"id":"60160bc.556f374","type":"debug","z":"8a45f167.279f88","name":"IBV count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.ibvs.count","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":40,"wires":[]},{"id":"ffb967ce.051ee8","type":"debug","z":"8a45f167.279f88","name":"joined od-output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":40,"wires":[]},{"id":"ed1b0a91.22a99","type":"debug","z":"8a45f167.279f88","name":"od-result property extraction","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.ibvs","targetType":"msg","statusVal":"","statusType":"auto","x":1740,"y":40,"wires":[]},{"id":"14bd1bd6.31ce9c","type":"function","z":"8a45f167.279f88","name":"cast od-output to ArrayBuffer","func":"// added by change node earlier to mark payload source\ndelete msg.topic;\n// return code added by exec node\ndelete msg.rc;\n// reformatting the string of random bytes\nfor(var i=0; i<msg.data.ibvs.count; i++){\n    msg.data.ibvs[i].randomBuffer = msg.data.ibvs[i].randomBuffer.trim();\n    msg.data.ibvs[i].randomBuffer = msg.data.ibvs[i].randomBuffer.split(/[ \\n]+/);\n    msg.data.ibvs[i].randomBuffer = Buffer.from(msg.data.ibvs[i].randomBuffer);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":580,"wires":[["1109f6b1.c9dcb1","93597233.409c48"]]},{"id":"85f21a5b.b3e758","type":"change","z":"8a45f167.279f88","name":"","rules":[{"t":"move","p":"payload[\"2\"]","pt":"msg","to":"data.ibvs[2].randomBuffer","tot":"msg"},{"t":"move","p":"payload[\"1\"]","pt":"msg","to":"data.ibvs[1].randomBuffer","tot":"msg"},{"t":"move","p":"payload[\"0\"]","pt":"msg","to":"data.ibvs[0].randomBuffer","tot":"msg"},{"t":"move","p":"req.files[2]","pt":"msg","to":"data.ibvs[2].file","tot":"msg"},{"t":"move","p":"req.files[1]","pt":"msg","to":"data.ibvs[1].file","tot":"msg"},{"t":"move","p":"req.files[0]","pt":"msg","to":"data.ibvs[0].file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":760,"wires":[["14bd1bd6.31ce9c","ed1b0a91.22a99"]]},{"id":"86ebf29d.f21a2","type":"comment","z":"8a45f167.279f88","name":"CSPRNG via od and /dev/urandom","info":"","x":1140,"y":860,"wires":[]},{"id":"93597233.409c48","type":"function","z":"8a45f167.279f88","name":"VCrypto: split into 2 shares","func":" for(var i=0; i<msg.data.ibvs.count;i++){\n    let randomBuffer, dataBuffer, firstShare, secondShare;\n    \n    randomBuffer = msg.data.ibvs[i].randomBuffer;\n    dataBuffer = msg.data.ibvs[i].file.buffer;\n\n    firstShare = createFirstShare(randomBuffer);\n    msg.data.ibvs[i].firstShare = firstShare;\n    \n    secondShare = deriveSecondShare(firstShare, dataBuffer);\n    msg.data.ibvs[i].secondShare = secondShare;\n}\nreturn msg;\n\nfunction createFirstShare(rbuf){\n    let share = Buffer.alloc(2 * rbuf.length);\n    \n    // for each byte in the randomBuffer: \n    for(var i=0; i<rbuf.length; i++){\n        let tempRandByte = rbuf.readUInt8(i);\n        let msbMask = 0b10000000;\n        var tempResultByte1 = 0;\n        var tempResultByte2 = 0;\n        \n        for(var bitPos = 0; bitPos<8; bitPos++){\n            let res = tempRandByte & msbMask;\n            // bitPos4 cause VC produces 2bit per share and bit of the seed\n            if(bitPos<4){\n                if(res!==0){\n                    tempResultByte1 += Math.pow(2,7-2*bitPos);\n                } else {\n                    tempResultByte1 += Math.pow(2,6-2*bitPos);\n                }\n            }else{\n                if(res!==0){\n                    tempResultByte2 += Math.pow(2,7-2*(bitPos-4));\n                } else {\n                    tempResultByte2 += Math.pow(2,6-2*(bitPos-4));\n                }\n            }\n            tempRandByte = tempRandByte << 1;\n        }\n        share.writeUInt8(tempResultByte1, 2*i);\n        share.writeUInt8(tempResultByte2, 2*i+1);\n    }\n    return share;\n}\n\n\nfunction deriveSecondShare(fshr, dbuf){\n    let secondShare = Buffer.alloc(fshr.length);\n    for(var i=0; i<dbuf.length  ; i++){\n        let dataByte = dbuf.readUInt8(i);\n        let fshrByteHalfWord = fshr.readUInt16BE(2*i);\n        let sshrByteHalfWord = 0;\n        let dataMask = 0b10000000;\n        let fshrMask = 0b1100000000000000;\n\n        for(var bitPos=0; bitPos<8; bitPos++){\n            let currDataBit = dataByte & dataMask;\n            let fshrBits = fshrByteHalfWord & fshrMask;\n                \n            if(currDataBit === 128){\n                // current data bit is 1\n                if(fshrBits === 16384){\n                    // dBit = 1, fshrBits = 01\n                    sshrByteHalfWord += Math.pow(2,15-2*bitPos); \n                }else{\n                    // dbit = 1, fshrBits = 10\n                    sshrByteHalfWord += Math.pow(2,14-2*bitPos);\n                }\n            }else{\n                // current data bit is 0\n                if(fshrBits === 16384){\n                    // dbit = 0, fshrBits = 01    \n                    sshrByteHalfWord += Math.pow(2,14-2*bitPos);\n                }else{\n                    // dbit = 0, fshrBits = 10\n                    sshrByteHalfWord += Math.pow(2,15-2*bitPos);\n                }\n            }\n            dataByte = (dataByte << 1) & 0x000000FF;\n            fshrByteHalfWord = (fshrByteHalfWord << 2) & 0x0000FFFF;\n        }\n        secondShare.writeUInt16BE(sshrByteHalfWord, 2*i);\n    }\n    return secondShare;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":580,"wires":[["eedbcd04.aa80d","5c32830b.72ae8c","b440e154.2efa78"]]},{"id":"eedbcd04.aa80d","type":"debug","z":"8a45f167.279f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.ibvs","targetType":"msg","statusVal":"","statusType":"auto","x":2320,"y":40,"wires":[]},{"id":"5c32830b.72ae8c","type":"link out","z":"8a45f167.279f88","name":"","links":["1c258e26.dc3ce2"],"x":2275,"y":580,"wires":[]},{"id":"1c258e26.dc3ce2","type":"link in","z":"836f447.e9c75b8","name":"","links":["5c32830b.72ae8c"],"x":35,"y":560,"wires":[["b162d650.d2c96","994e78a.6f9e308","70b50219.757ea4"]]},{"id":"b162d650.d2c96","type":"switch","z":"836f447.e9c75b8","name":"switch(ibvCount)","property":"data.ibvs.count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":260,"y":380,"wires":[["cab16b4.551d098"],["f5b31f58.abb398","cab16b4.551d098"],["38432425.cf9e54","cab16b4.551d098","f5b31f58.abb398"]]},{"id":"448b6170.7120a","type":"file","z":"836f447.e9c75b8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"binary","x":1190,"y":380,"wires":[[]]},{"id":"cab16b4.551d098","type":"change","z":"836f447.e9c75b8","name":"move share(1/2) of ibv1 to payload","rules":[{"t":"move","p":"data.ibvs[0].firstShare","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":340,"wires":[["c843993f.3ca2d8","2ae1abac.e8bcec"]]},{"id":"f5b31f58.abb398","type":"change","z":"836f447.e9c75b8","name":"move share(1/2) of ibv2 to payload","rules":[{"t":"move","p":"data.ibvs[1].firstShare","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":380,"wires":[["e5b7422c.3657e8","7f6fab06.c972e4"]]},{"id":"38432425.cf9e54","type":"change","z":"836f447.e9c75b8","name":"move share(1/2) of ibv3 to payload","rules":[{"t":"move","p":"data.ibvs[2].firstShare","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":420,"wires":[["1c6566d2.810e39","2e2359d1.5f13a6"]]},{"id":"b440e154.2efa78","type":"debug","z":"8a45f167.279f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2290,"y":80,"wires":[]},{"id":"e5b7422c.3657e8","type":"debug","z":"836f447.e9c75b8","name":"msg.payload ibv2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":80,"wires":[]},{"id":"1c6566d2.810e39","type":"debug","z":"836f447.e9c75b8","name":"msg.payload ibv3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":120,"wires":[]},{"id":"c843993f.3ca2d8","type":"debug","z":"836f447.e9c75b8","name":"msg.payload ibv1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":40,"wires":[]},{"id":"73f0de46.627818","type":"catch","z":"836f447.e9c75b8","name":"file_write failed","scope":["40608173.6c137","448b6170.7120a","b6607d0a.2e42c8"],"uncaught":false,"x":1440,"y":380,"wires":[["6b9e3052.8f0ed8"]]},{"id":"6b9e3052.8f0ed8","type":"debug","z":"836f447.e9c75b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":40,"wires":[]},{"id":"3b3f1e8e.3a94ba","type":"link out","z":"836f447.e9c75b8","name":"","links":["c689f0d5.387648"],"x":1855,"y":560,"wires":[]},{"id":"994e78a.6f9e308","type":"function","z":"836f447.e9c75b8","name":"sanitize","func":"// for each IBV\nfor(var i=0; i<msg.data.ibvs.count; i++){\n    delete msg.data.ibvs[i].firstShare;\n    delete msg.data.ibvs[i].randomBuffer;\n    delete msg.data.ibvs[i].file;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":560,"wires":[["3b3f1e8e.3a94ba","4c4fb0b2.0b1c78"]]},{"id":"70b50219.757ea4","type":"debug","z":"836f447.e9c75b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":190,"y":40,"wires":[]},{"id":"4c4fb0b2.0b1c78","type":"debug","z":"836f447.e9c75b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1810,"y":40,"wires":[]},{"id":"c689f0d5.387648","type":"link in","z":"f39a1cd.89d97e","name":"","links":["3b3f1e8e.3a94ba"],"x":35,"y":560,"wires":[[]]},{"id":"2ae1abac.e8bcec","type":"function","z":"836f447.e9c75b8","name":"","func":"let ibvFeatureName = ;\nlet firstName =;\nlet lastName =;\nmsg.filename = msg.data.ibvs[0].file.fieldname.substring(,-2) + \"_\" + msg.data.PII[\"'firstname'\"] + \"_\" + msg.data.PII[\"'lastname'\"];\nreturn msg; ","outputs":1,"noerr":14,"initialize":"","finalize":"","x":980,"y":340,"wires":[["448b6170.7120a","cce37983.62ad5","66dd4fa0.44d99"]]},{"id":"7f6fab06.c972e4","type":"function","z":"836f447.e9c75b8","name":"","func":"msg.filename = \"ibv2_\" + msg.data.PII[\"'firstname'\"] + \"_\" + msg.data.PII[\"'lastname'\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":380,"wires":[["448b6170.7120a","eef078a0.d6eec8"]]},{"id":"2e2359d1.5f13a6","type":"function","z":"836f447.e9c75b8","name":"","func":"msg.filename = \"ibv3_\" + msg.data.PII[\"'firstname'\"] + \"_\" + msg.data.PII[\"'lastname'\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":420,"wires":[["448b6170.7120a","7e25537b.09d254"]]},{"id":"cce37983.62ad5","type":"debug","z":"836f447.e9c75b8","name":"filename ibv1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":40,"wires":[]},{"id":"eef078a0.d6eec8","type":"debug","z":"836f447.e9c75b8","name":"filename ibv2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":80,"wires":[]},{"id":"7e25537b.09d254","type":"debug","z":"836f447.e9c75b8","name":"filename ibv3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":120,"wires":[]},{"id":"66dd4fa0.44d99","type":"debug","z":"836f447.e9c75b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":220,"wires":[]}]