mca-sp-bops/mca-data/npm
[{"id":"e5e12e11.00c9c","type":"tab","label":"MCA","disabled":false,"info":""},{"id":"6143b252.c10a34","type":"tab","label":"ISSUER (SP1)","disabled":false,"info":""},{"id":"eb92265a.6276e","type":"tab","label":"VERIFIER (SP2)","disabled":false,"info":""},{"id":"c45e37f.502d348","type":"tab","label":"BOPS A","disabled":false,"info":""},{"id":"77afa456.4cd374","type":"tab","label":"BOPS B","disabled":false,"info":""},{"id":"7ada6151.0e0478","type":"tab","label":"BOPS/IPFS-Interfacing","disabled":false,"info":""},{"id":"8ad42719.c6583","type":"subflow","name":"symmetric key generation","info":"","category":"","in":[{"x":20,"y":160,"wires":[{"id":"cc09ba2e.5d9298"}]}],"out":[{"x":1160,"y":160,"wires":[{"id":"d38c6c48.f34b5","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"403f5d7a.b0ab14","type":"subflow","name":"delete local second share","info":"","category":"","in":[{"x":40,"y":280,"wires":[{"id":"23ab4346.8c3074"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"d606f1f3.653fa8","type":"subflow","name":"symmetric encryption of IBVs","info":"","category":"","in":[{"x":0,"y":600,"wires":[{"id":"cdf44944.a2c128"}]}],"out":[{"x":1580,"y":600,"wires":[{"id":"2ea00a4e.ee6676","port":0}]},{"x":1200,"y":680,"wires":[{"id":"9dd57b8e.3d6c68","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"810ccd41.c8917","type":"subflow","name":"save IBVs locally","info":"","category":"","in":[{"x":40,"y":420,"wires":[{"id":"b162d650.d2c96"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"2da2b08.c31a85","type":"subflow","name":"visual encryption","info":"","category":"","in":[{"x":0,"y":600,"wires":[{"id":"60a0f314.5cfae4"}]}],"out":[{"x":2240,"y":620,"wires":[{"id":"93597233.409c48","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"91fc2fd0.285858","type":"subflow","name":"serve registration form","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"6e782947.a4b968","type":"subflow","name":"http-post-endpoint for registration form","info":"","category":"","in":[],"out":[{"x":360,"y":620,"wires":[{"id":"a0e609db.3fd92","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d248c858.3ab7e8","type":"subflow","name":"append enrollment pubKey","info":"","category":"","in":[{"x":40,"y":380,"wires":[{"id":"136617cd.833728"}]}],"out":[{"x":1260,"y":380,"wires":[{"id":"8a62ffdc.6e592","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"35d0be4c.21dc9a","type":"subflow","name":"sign enrollmentPubKey","info":"","category":"","in":[{"x":60,"y":360,"wires":[{"id":"56e20e1e.216ed"}]}],"out":[{"x":1160,"y":360,"wires":[{"id":"73f629d6.e9ce1","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e14be71e.9ff1c","type":"subflow","name":"append asym. enc. secKey","info":"","category":"","in":[{"x":40,"y":300,"wires":[{"id":"8475f3fd.4b3a68"}]}],"out":[{"x":1920,"y":300,"wires":[{"id":"c93b7553.c9703","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"49be110c.adf37","type":"subflow","name":"create & archive eth account @ropsten","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"8963040b.d9834"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"41058a1f.c5b5fc","type":"subflow","name":"serve login form","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"3cb671d2.42e046","type":"subflow","name":"http-post-endpoint for authentication","info":"","category":"","in":[],"out":[{"x":660,"y":580,"wires":[{"id":"3be0a237.01c016","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b7289258.0cfa2","type":"subflow","name":"create unique id","info":"","category":"","in":[{"x":60,"y":240,"wires":[{"id":"63523105.5131"}]}],"out":[{"x":540,"y":400,"wires":[{"id":"45e0225e.2df1c4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ba170577.9b8a28","type":"subflow","name":"success: notify user","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"c8b8068a.2bfa28"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"fa208c3e.ba661","type":"subflow","name":"fetch & append enrollment pubKey","info":"","category":"","in":[{"x":100,"y":440,"wires":[{"id":"c7aa1776.3f8a8"}]}],"out":[{"x":1300,"y":440,"wires":[{"id":"15b16076.329af","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"62a7d648.b051e","type":"subflow","name":"add enrollment signature","info":"","category":"","in":[{"x":60,"y":380,"wires":[{"id":"b5d0e07d.46da3"}]}],"out":[{"x":740,"y":380,"wires":[{"id":"4b676205.1a964c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e469f3cb.fc7cc","type":"subflow","name":"generate & append enrollment signature","info":"","category":"","in":[{"x":60,"y":360,"wires":[{"id":"da44d674.f639d8"}]}],"out":[{"x":900,"y":360,"wires":[{"id":"e0da3934.ce0a88","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"faab45d6.9c06a8","type":"subflow","name":"append issuer pubKey","info":"","category":"","in":[{"x":60,"y":380,"wires":[{"id":"e4262a2a.55ef1"}]}],"out":[{"x":720,"y":380,"wires":[{"id":"501564ce.e78be4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"44482c87.21495c","type":"subflow","name":"blockchain account provisioning ","info":"","category":"","in":[{"x":40,"y":540,"wires":[{"id":"fb623376.c0d4c8"}]}],"out":[{"x":1040,"y":540,"wires":[{"id":"614f1122.f87e7","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"13bbe636.51c542","type":"subflow","name":"didDoc assembly","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"c04decae.f3814"}]}],"out":[{"x":380,"y":40,"wires":[{"id":"c04decae.f3814","port":0}]},{"x":580,"y":80,"wires":[{"id":"17271154.19c9c7","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a7d1e4ed.a424c","type":"subflow","name":"persist ipns accounting files locally","info":"","category":"","in":[{"x":100,"y":300,"wires":[{"id":"9032fbd8.8c61c8"}]}],"out":[{"x":1380,"y":300,"wires":[{"id":"1eed12c7.5b394d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"108634fb.558b7b","type":"subflow","name":"persist didDoc, add to ipfs, append resulting cid","info":"","category":"","in":[{"x":60,"y":540,"wires":[{"id":"4d5efb4a.ab7194"}]}],"out":[{"x":1180,"y":540,"wires":[{"id":"4fc0f51b.69ef34","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1727a89d.018b47","type":"subflow","name":"recursively push state directory & publish via ipns","info":"","category":"","in":[{"x":0,"y":300,"wires":[{"id":"edf18422.13edb"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"6a19c01a.0c691","type":"subflow","name":"fail@BChainTransactionReview -> notify user","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"884341ea.cdf0a"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"6fd37b9a.76a144","type":"subflow","name":"persist signature claims","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"9d61a5ee.9bc7e"}]}],"out":[{"x":1280,"y":80,"wires":[{"id":"33ab476a.50a6b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"65e74173.b1755","type":"subflow","name":"prep: persist claims & pubKeys","info":"","category":"","in":[{"x":0,"y":380,"wires":[{"id":"65f1ed9c.fe80f4"}]}],"out":[{"x":620,"y":380,"wires":[{"id":"64ba8442.7d244c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"2ae2beac.94c142","type":"subflow","name":"delete persisted files","info":"","category":"","in":[{"x":60,"y":260,"wires":[{"id":"3d2792c9.fa0446"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"8ee504b8.c37fc","type":"subflow","name":"fail@signatureVerificatonStage -> notify user","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"b6210b77.77d9"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"13d5c25a.a21b76","type":"subflow","name":"verification of issuer & enrollment signatures","info":"","category":"","in":[{"x":60,"y":360,"wires":[{"id":"c81d1566.13af88"}]}],"out":[{"x":1060,"y":360,"wires":[{"id":"a16daa32.5d1848","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d2e943e0.fa64d","type":"subflow","name":"fail@challengeVerification","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"36b5309b.3fd"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"9561475a.183848","type":"subflow","name":"challenge signature verification","info":"","category":"","in":[{"x":80,"y":360,"wires":[{"id":"b0a2d19c.c6dc48"}]}],"out":[{"x":880,"y":320,"wires":[{"id":"211aff46.f9267","port":0}]},{"x":880,"y":400,"wires":[{"id":"211aff46.f9267","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"63fbac4a.cff4dc","type":"subflow","name":"create second keyPair","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"26dfb401.eae264"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"d2f86ab8.e17268","type":"subflow","name":"Subflow 1","info":"","in":[{"x":60,"y":80,"wires":[{"id":"1526baf2.580d15"}]}],"out":[]},{"id":"356f86e8.1e821a","type":"http in","z":"e5e12e11.00c9c","name":"","url":"tomato","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2280,"wires":[["70c4a053.54ea98"]]},{"id":"34101ccf.b0c284","type":"http response","z":"e5e12e11.00c9c","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":490,"y":2280,"wires":[]},{"id":"70c4a053.54ea98","type":"template","z":"e5e12e11.00c9c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":340,"y":2280,"wires":[["34101ccf.b0c284"]]},{"id":"b38c4232.be09e8","type":"http in","z":"91fc2fd0.285858","name":"GET /register","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":190,"y":600,"wires":[["6b1a4b84.6a1fe4","f55d3f70.12d738","657f4299.be7954"]]},{"id":"9d607965.925f5","type":"http response","z":"91fc2fd0.285858","name":"res: enrollment page","statusCode":"","headers":{},"x":640,"y":600,"wires":[]},{"id":"6b1a4b84.6a1fe4","type":"debug","z":"91fc2fd0.285858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":80,"wires":[]},{"id":"7f21851e.42b934","type":"debug","z":"91fc2fd0.285858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"500aebe4.87896c","type":"debug","z":"6e782947.a4b968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":160,"wires":[]},{"id":"a0e609db.3fd92","type":"http in","z":"6e782947.a4b968","name":"POST /register","url":"/register","method":"post","upload":true,"swaggerDoc":"","x":200,"y":620,"wires":[["500aebe4.87896c","564365d5.d06c94","e78d41c4.860378"]]},{"id":"564365d5.d06c94","type":"debug","z":"6e782947.a4b968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":120,"wires":[]},{"id":"e78d41c4.860378","type":"debug","z":"6e782947.a4b968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"f55d3f70.12d738","type":"debug","z":"91fc2fd0.285858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":120,"wires":[]},{"id":"61068b18.a37f94","type":"debug","z":"91fc2fd0.285858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"6d5129c5.17ada8","type":"exec","z":"2da2b08.c31a85","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":1130,"y":480,"wires":[["3ffefb28.fda5ec","4ad93237.86c484"],[],[]]},{"id":"60a0f314.5cfae4","type":"change","z":"2da2b08.c31a85","name":"rewriting payload content","rules":[{"t":"set","p":"data.ibvs.count","pt":"msg","to":"req.files.length","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":600,"wires":[["3359e0bf.b4d308"]],"info":"move PII into msg.data\nwrite count of collected IBVs into msg.data.ibv.count"},{"id":"a1895b81.ef8e88","type":"template","z":"2da2b08.c31a85","name":"od: 1/1 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":480,"wires":[["9486fdcf.dbba6","6d5129c5.17ada8"]]},{"id":"9486fdcf.dbba6","type":"debug","z":"2da2b08.c31a85","name":"od-payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":80,"wires":[]},{"id":"3ffefb28.fda5ec","type":"debug","z":"2da2b08.c31a85","name":"od-output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":80,"wires":[]},{"id":"1109f6b1.c9dcb1","type":"debug","z":"2da2b08.c31a85","name":"od-output to arrayBuffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.ibvs","targetType":"msg","statusVal":"","statusType":"auto","x":2050,"y":80,"wires":[]},{"id":"3359e0bf.b4d308","type":"switch","z":"2da2b08.c31a85","name":"","property":"data.ibvs.count","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":600,"wires":[["70fe112f.5b8ed","60160bc.556f374"],["78c6a85a.c47e48","60160bc.556f374"],["6c60eab4.611acc","43ab3341.5ea194","60160bc.556f374"],["5a0673b1.0ccefc","85c8167c.441008","8a0014ea.3be6d8","60160bc.556f374"]]},{"id":"3892d31f.f1522c","type":"template","z":"2da2b08.c31a85","name":"od: 2/2 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":640,"wires":[["9486fdcf.dbba6","77375312.544c4c"]]},{"id":"f65cdb32.246a","type":"template","z":"2da2b08.c31a85","name":"od: 1/2 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":600,"wires":[["9486fdcf.dbba6","75dfa298.bbc4dc"]]},{"id":"70fe112f.5b8ed","type":"template","z":"2da2b08.c31a85","name":"od: 0/0 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <style>\n            body{\n              font-family: Calibri, Helvetica, sans-serif;\n              background-color: #5d5c61;\n            }\n            \n            .container {\n                padding: 50px;\n                background-color: #557a95;\n                margin: auto;\n            }\n            \n            input[type=text], input[type=password], textarea {\n                width: 95%;\n                padding: 15px;\n                margin: 5px 0 22px 0;\n                display: inline-block;\n                border: none;\n                background: #f1f1f1;\n                background-color: #ddd;\n            }\n            \n            input[type=text]:focus, input[type=password]:focus, textarea:focus {\n                background-color: #fff;\n                outline: none;\n            }\n            \n            div {\n                padding: 10px 0;\n            }\n            \n            fieldset {\n                background-color: #dddddd;\n            }\n            \n            h1 {\n                text-align: center;\n            }\n            h2 {\n                text-align: center;\n                color: red;\n            }\n            \n            hr {\n                border: 1px solid #f1f1f1;\n                margin-bottom: 25px;\n            }\n            \n            legend {\n                background-color: #b1a296;\n                color: white;\n                padding: 5px 10px;\n            }\n\n            .registerbtn {\n                background-color: #4CAF50;\n                color: white;\n                padding: 16px 20px;\n                margin: 8px 0;\n                border: none;\n                cursor: pointer;\n                width: 100%;\n                opacity: 0.9;\n            }\n            .registerbtn:hover {\n                opacity: 1;\n            }\n        </style>\n    </head>\n    \n    <body>\n        <form enctype='multipart/form-data' action=\"/register\" method=\"post\">\n            <div class=\"container\">\n                \n                <h1>BOPS registration form</h1>\n                <h2>At least one IBV is required, please supply it.</h2>\n                <hr>\n                <fieldset name=\"PII\">\n                    <legend>PII</legend>\n                    <label for=\"PII['firstname']\"> Firstname </label><br>\n                    <input type=\"text\" name=\"PII['firstname']\" placeholder= \"Firstname\" size=\"15\" required /> <br>\n                    \n                    <label for=\"PII['middlename']\"> Middlename: </label><br> \n                    <input type=\"text\" name=\"PII['middlename']\" placeholder=\"Middlename\" size=\"15\" required /> <br>\n                    \n                    <label for=\"PII['lastname']\"> Lastname: </label><br>\n                    <input type=\"text\" name=\"PII['lastname']\" placeholder=\"Lastname\" size=\"15\" required /> <br>\n    \n                    \n                    <div>\n                        <label for=\"PII['gender']\"> Gender :</label><br>\n                        <input type=\"radio\" value=\"Male\" name=\"PII['gender']\" checked > Male <br>\n                        <input type=\"radio\" value=\"Female\" name=\"PII['gender']\"> Female <br>\n                        <input type=\"radio\" value=\"Other\" name=\"PII['gender']\"> Other <br>\n                    </div>\n                    \n                    <label> Phone :</label><br>\n                    <input type=\"text\" name=\"PII['phone']\" placeholder=\"phone no.\" size=\"10\" required><br>\n                \n                    <label> Current Address :</label><br>\n                    <textarea cols=\"80\" rows=\"5\" placeholder=\"Current Address\" value=\"address\" required></textarea><br>\n                    \n                                   \n                    <label for=\"email\"><b>Email</b></label><br>\n                    <input type=\"text\" placeholder=\"Enter Email\" name=\"PII['email']\" required><br>\n                \n                    <!-- ASSUMED THAT THIS IS NOT REQUIRED \n                        <label for=\"psw\"><b>Password</b></label>\n                        <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" required>\n                \n                        <label for=\"psw-repeat\"><b>Re-type Password</b></label>\n                        <input type=\"password\" placeholder=\"Retype Password\" name=\"psw-repeat\" required>\n                    -->\n                </fieldset>\n                <br><br>                \n                <fieldset name=\"IBVs\">\n                    <legend>IBVs</legend>\n                    \n                    <label for=\"features['fingerprint']\"><b>Fingerprint</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"features['fingerprint']\"><br><br>\n                    \n                    <label for=\"features['portrait']\"><b>Portrait</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"features['voice']\"><br><br>\n                </fieldset>\n                <button type=\"submit\" class=\"registerbtn\">Register</button>  \n        </form>\n    </body>\n</html>\n","output":"str","x":930,"y":340,"wires":[["9486fdcf.dbba6","8b10a2d4.57e9a"]]},{"id":"e54c54c3.e13c38","type":"template","z":"2da2b08.c31a85","name":"od: 1/3 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":760,"wires":[["9486fdcf.dbba6","d6674e13.4adfe8"]]},{"id":"bcbde0bd.e8fa28","type":"template","z":"2da2b08.c31a85","name":"od: 2/3 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":800,"wires":[["9486fdcf.dbba6","96c449e0.a37c7"]]},{"id":"ef32fa5f.a7b738","type":"template","z":"2da2b08.c31a85","name":"od: 3/3 ibv","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-vAn -N{{payload}} -tu1 /dev/urandom","output":"str","x":930,"y":840,"wires":[["9486fdcf.dbba6","cb0ffd87.8c1d58"]]},{"id":"8b10a2d4.57e9a","type":"http response","z":"2da2b08.c31a85","name":"res: no IBV supplied","statusCode":"200","headers":{},"x":1720,"y":340,"wires":[]},{"id":"75dfa298.bbc4dc","type":"exec","z":"2da2b08.c31a85","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":600,"wires":[["3ffefb28.fda5ec","b2472943.27703"],[],[]]},{"id":"77375312.544c4c","type":"exec","z":"2da2b08.c31a85","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":640,"wires":[["3ffefb28.fda5ec","b2472943.27703"],[],[]]},{"id":"d6674e13.4adfe8","type":"exec","z":"2da2b08.c31a85","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":760,"wires":[["3ffefb28.fda5ec","9701ef5c.d19038"],[],[]]},{"id":"96c449e0.a37c7","type":"exec","z":"2da2b08.c31a85","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":800,"wires":[["3ffefb28.fda5ec","9701ef5c.d19038"],[],[]]},{"id":"cb0ffd87.8c1d58","type":"exec","z":"2da2b08.c31a85","command":"od","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1130,"y":840,"wires":[["3ffefb28.fda5ec","9701ef5c.d19038"],[],[]]},{"id":"78c6a85a.c47e48","type":"change","z":"2da2b08.c31a85","name":"payload = ibv[0].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[0].size","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":480,"wires":[["a1895b81.ef8e88"]]},{"id":"43ab3341.5ea194","type":"change","z":"2da2b08.c31a85","name":"payload = ibv[0].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[0].size","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":600,"wires":[["f65cdb32.246a"]]},{"id":"6c60eab4.611acc","type":"change","z":"2da2b08.c31a85","name":"payload = ibv[1].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[1].size","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":640,"wires":[["3892d31f.f1522c"]]},{"id":"8a0014ea.3be6d8","type":"change","z":"2da2b08.c31a85","name":"payload = ibv[0].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[0].size","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":760,"wires":[["e54c54c3.e13c38"]]},{"id":"85c8167c.441008","type":"change","z":"2da2b08.c31a85","name":"payload = ibv[1].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[1].size","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":800,"wires":[["bcbde0bd.e8fa28"]]},{"id":"5a0673b1.0ccefc","type":"change","z":"2da2b08.c31a85","name":"payload = ibv[2].size","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.req.files[2].size","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":840,"wires":[["ef32fa5f.a7b738"]]},{"id":"7856f6c1.01bda","type":"change","z":"2da2b08.c31a85","name":"","rules":[{"t":"move","p":"payload[\"1\"]","pt":"msg","to":"data.ibvs[1].randomBuffer","tot":"msg"},{"t":"move","p":"payload[\"0\"]","pt":"msg","to":"data.ibvs[0].randomBuffer","tot":"msg"},{"t":"move","p":"req.files[1]","pt":"msg","to":"data.ibvs[1].file","tot":"msg"},{"t":"move","p":"req.files[0]","pt":"msg","to":"data.ibvs[0].file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":620,"wires":[["ed1b0a91.22a99","14bd1bd6.31ce9c"]]},{"id":"4ad93237.86c484","type":"change","z":"2da2b08.c31a85","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"data.ibvs[0].randomBuffer","tot":"msg"},{"t":"move","p":"req.files[0]","pt":"msg","to":"data.ibvs[0].file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":460,"wires":[["ed1b0a91.22a99","14bd1bd6.31ce9c"]]},{"id":"9701ef5c.d19038","type":"join","z":"2da2b08.c31a85","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":800,"wires":[["85f21a5b.b3e758"]]},{"id":"b2472943.27703","type":"join","z":"2da2b08.c31a85","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1290,"y":620,"wires":[["ffb967ce.051ee8","7856f6c1.01bda"]]},{"id":"60160bc.556f374","type":"debug","z":"2da2b08.c31a85","name":"IBV count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.ibvs.count","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":80,"wires":[]},{"id":"ffb967ce.051ee8","type":"debug","z":"2da2b08.c31a85","name":"joined od-output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":80,"wires":[]},{"id":"ed1b0a91.22a99","type":"debug","z":"2da2b08.c31a85","name":"od-result property extraction","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.ibvs","targetType":"msg","statusVal":"","statusType":"auto","x":1740,"y":80,"wires":[]},{"id":"14bd1bd6.31ce9c","type":"function","z":"2da2b08.c31a85","name":"cast od-output to ArrayBuffer","func":"// added by change node earlier to mark payload source\ndelete msg.topic;\n// return code added by exec node\ndelete msg.rc;\n// reformatting the string of random bytes\nfor(var i=0; i<msg.data.ibvs.count; i++){\n    msg.data.ibvs[i].randomBuffer = msg.data.ibvs[i].randomBuffer.trim();\n    msg.data.ibvs[i].randomBuffer = msg.data.ibvs[i].randomBuffer.split(/[ \\n]+/);\n    msg.data.ibvs[i].randomBuffer = Buffer.from(msg.data.ibvs[i].randomBuffer);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":620,"wires":[["1109f6b1.c9dcb1","93597233.409c48"]]},{"id":"85f21a5b.b3e758","type":"change","z":"2da2b08.c31a85","name":"","rules":[{"t":"move","p":"payload[\"2\"]","pt":"msg","to":"data.ibvs[2].randomBuffer","tot":"msg"},{"t":"move","p":"payload[\"1\"]","pt":"msg","to":"data.ibvs[1].randomBuffer","tot":"msg"},{"t":"move","p":"payload[\"0\"]","pt":"msg","to":"data.ibvs[0].randomBuffer","tot":"msg"},{"t":"move","p":"req.files[2]","pt":"msg","to":"data.ibvs[2].file","tot":"msg"},{"t":"move","p":"req.files[1]","pt":"msg","to":"data.ibvs[1].file","tot":"msg"},{"t":"move","p":"req.files[0]","pt":"msg","to":"data.ibvs[0].file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":800,"wires":[["14bd1bd6.31ce9c","ed1b0a91.22a99"]]},{"id":"93597233.409c48","type":"function","z":"2da2b08.c31a85","name":"VCrypto: split into 2 shares","func":" for(var i=0; i<msg.data.ibvs.count;i++){\n    let randomBuffer, dataBuffer, firstShare, secondShare;\n    \n    randomBuffer = msg.data.ibvs[i].randomBuffer;\n    dataBuffer = msg.data.ibvs[i].file.buffer;\n\n    firstShare = createFirstShare(randomBuffer);\n    msg.data.ibvs[i].firstShare = firstShare;\n    \n    secondShare = deriveSecondShare(firstShare, dataBuffer);\n    msg.data.ibvs[i].secondShare = secondShare;\n}\nreturn msg;\n\nfunction createFirstShare(rbuf){\n    let share = Buffer.alloc(2 * rbuf.length);\n    \n    // for each byte in the randomBuffer: \n    for(var i=0; i<rbuf.length; i++){\n        let tempRandByte = rbuf.readUInt8(i);\n        let msbMask = 0b10000000;\n        var tempResultByte1 = 0;\n        var tempResultByte2 = 0;\n        \n        for(var bitPos = 0; bitPos<8; bitPos++){\n            let res = tempRandByte & msbMask;\n            // bitPos4 cause VC produces 2bit per share and bit of the seed\n            if(bitPos<4){\n                if(res!==0){\n                    tempResultByte1 += Math.pow(2,7-2*bitPos);\n                } else {\n                    tempResultByte1 += Math.pow(2,6-2*bitPos);\n                }\n            }else{\n                if(res!==0){\n                    tempResultByte2 += Math.pow(2,7-2*(bitPos-4));\n                } else {\n                    tempResultByte2 += Math.pow(2,6-2*(bitPos-4));\n                }\n            }\n            tempRandByte = tempRandByte << 1;\n        }\n        share.writeUInt8(tempResultByte1, 2*i);\n        share.writeUInt8(tempResultByte2, 2*i+1);\n    }\n    return share;\n}\n\n\nfunction deriveSecondShare(fshr, dbuf){\n    let secondShare = Buffer.alloc(fshr.length);\n    for(var i=0; i<dbuf.length  ; i++){\n        let dataByte = dbuf.readUInt8(i);\n        let fshrByteHalfWord = fshr.readUInt16BE(2*i);\n        let sshrByteHalfWord = 0;\n        let dataMask = 0b10000000;\n        let fshrMask = 0b1100000000000000;\n\n        for(var bitPos=0; bitPos<8; bitPos++){\n            let currDataBit = dataByte & dataMask;\n            let fshrBits = fshrByteHalfWord & fshrMask;\n                \n            if(currDataBit === 128){\n                // current data bit is 1\n                if(fshrBits === 16384){\n                    // dBit = 1, fshrBits = 01\n                    sshrByteHalfWord += Math.pow(2,15-2*bitPos); \n                }else{\n                    // dbit = 1, fshrBits = 10\n                    sshrByteHalfWord += Math.pow(2,14-2*bitPos);\n                }\n            }else{\n                // current data bit is 0\n                if(fshrBits === 16384){\n                    // dbit = 0, fshrBits = 01    \n                    sshrByteHalfWord += Math.pow(2,14-2*bitPos);\n                }else{\n                    // dbit = 0, fshrBits = 10\n                    sshrByteHalfWord += Math.pow(2,15-2*bitPos);\n                }\n            }\n            dataByte = (dataByte << 1) & 0x000000FF;\n            fshrByteHalfWord = (fshrByteHalfWord << 2) & 0x0000FFFF;\n        }\n        secondShare.writeUInt16BE(sshrByteHalfWord, 2*i);\n    }\n    return secondShare;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":620,"wires":[["eedbcd04.aa80d","b440e154.2efa78"]]},{"id":"eedbcd04.aa80d","type":"debug","z":"2da2b08.c31a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data.ibvs","targetType":"msg","statusVal":"","statusType":"auto","x":2320,"y":80,"wires":[]},{"id":"b162d650.d2c96","type":"switch","z":"810ccd41.c8917","name":"switch(ibvCount)","property":"data.ibvs.count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":200,"y":420,"wires":[["cab16b4.551d098","dcebca4c.890a48"],["f5b31f58.abb398","cab16b4.551d098","dcebca4c.890a48","efee10c.53f5b7"],["38432425.cf9e54","cab16b4.551d098","f5b31f58.abb398","dcebca4c.890a48","efee10c.53f5b7","491b58e5.e9c94"]]},{"id":"448b6170.7120a","type":"file","z":"810ccd41.c8917","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"binary","x":1130,"y":420,"wires":[[]]},{"id":"cab16b4.551d098","type":"change","z":"810ccd41.c8917","name":"move share(1/2) of ibv1 to payload","rules":[{"t":"move","p":"data.ibvs[0].firstShare","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["c843993f.3ca2d8","2ae1abac.e8bcec"]]},{"id":"f5b31f58.abb398","type":"change","z":"810ccd41.c8917","name":"move share(1/2) of ibv2 to payload","rules":[{"t":"move","p":"data.ibvs[1].firstShare","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":340,"wires":[["e5b7422c.3657e8","7f6fab06.c972e4"]]},{"id":"38432425.cf9e54","type":"change","z":"810ccd41.c8917","name":"move share(1/2) of ibv3 to payload","rules":[{"t":"move","p":"data.ibvs[2].firstShare","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["1c6566d2.810e39","2e2359d1.5f13a6"]]},{"id":"b440e154.2efa78","type":"debug","z":"2da2b08.c31a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2290,"y":120,"wires":[]},{"id":"e5b7422c.3657e8","type":"debug","z":"810ccd41.c8917","name":"msg.payload ibv2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"1c6566d2.810e39","type":"debug","z":"810ccd41.c8917","name":"msg.payload ibv3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":160,"wires":[]},{"id":"c843993f.3ca2d8","type":"debug","z":"810ccd41.c8917","name":"msg.payload ibv1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"2ae1abac.e8bcec","type":"function","z":"810ccd41.c8917","name":"","func":"msg.payload = msg.payload.toString('base64');\nmsg.filename = \"/data/localstorage/ibv1_\" + msg.data.PII['username'] + \"_share_1\";\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":300,"wires":[["448b6170.7120a","cce37983.62ad5","c96baa40.d50958"]]},{"id":"7f6fab06.c972e4","type":"function","z":"810ccd41.c8917","name":"","func":"msg.payload = msg.payload.toString('base64');\nmsg.filename = \"/data/localstorage/ibv2_\" + msg.data.PII['username'] + \"_share_1\";\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":340,"wires":[["448b6170.7120a","eef078a0.d6eec8","e4e32135.d4862"]]},{"id":"2e2359d1.5f13a6","type":"function","z":"810ccd41.c8917","name":"","func":"msg.payload = msg.payload.toString('base64');\nmsg.filename = \"/data/localstorage/ibv1_\" + msg.data.PII['username'] + \"_share_1\";\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":380,"wires":[["448b6170.7120a","7e25537b.09d254","7f1202de.b01d84"]]},{"id":"cce37983.62ad5","type":"debug","z":"810ccd41.c8917","name":"filename ibv1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":80,"wires":[]},{"id":"eef078a0.d6eec8","type":"debug","z":"810ccd41.c8917","name":"filename ibv2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":120,"wires":[]},{"id":"7e25537b.09d254","type":"debug","z":"810ccd41.c8917","name":"filename ibv3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":160,"wires":[]},{"id":"dcebca4c.890a48","type":"change","z":"810ccd41.c8917","name":"","rules":[{"t":"move","p":"data.ibvs[0].secondShare","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":460,"wires":[["2c451ed1.6964e2"]]},{"id":"efee10c.53f5b7","type":"change","z":"810ccd41.c8917","name":"","rules":[{"t":"move","p":"data.ibvs[1].secondShare","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":500,"wires":[["73185bc0.f6affc"]]},{"id":"491b58e5.e9c94","type":"change","z":"810ccd41.c8917","name":"","rules":[{"t":"move","p":"data.ibvs[2].secondShare","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":540,"wires":[["bcdd56ce.a45b48"]]},{"id":"2c451ed1.6964e2","type":"function","z":"810ccd41.c8917","name":"","func":"msg.payload = msg.payload.toString('base64');\nmsg.filename = \"/data/localstorage/ibv1_\" + msg.data.PII['username'] + \"_share_2\";\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":460,"wires":[["448b6170.7120a","7ff88850.3c89c"]]},{"id":"73185bc0.f6affc","type":"function","z":"810ccd41.c8917","name":"","func":"msg.payload = msg.payload.toString('base64');\nmsg.filename = \"/data/localstorage/ibv2_\" + msg.data.PII['username'] + \"_share_2\";\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":500,"wires":[["448b6170.7120a","a0a52d20.a35a5"]]},{"id":"bcdd56ce.a45b48","type":"function","z":"810ccd41.c8917","name":"","func":"msg.payload = msg.payload.toString('base64');\nmsg.filename = \"/data/localstorage/ibv3_\" + msg.data.PII['username'] + \"_share_2\";\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":540,"wires":[["448b6170.7120a","f4a1da30.dc9ab8"]]},{"id":"d38c6c48.f34b5","type":"exec","z":"8ad42719.c6583","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1000,"y":160,"wires":[[],[],[]]},{"id":"cdf44944.a2c128","type":"change","z":"d606f1f3.653fa8","name":"general prep.: ibv sym. enc.","rules":[{"t":"move","p":"data.ibvs.count","pt":"msg","to":"data.ibvsCount","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"data.ibvs","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":600,"wires":[["1b41961e.7e7142","f5042892.cfef5"]]},{"id":"f5042892.cfef5","type":"split","z":"d606f1f3.653fa8","name":"split ibvs","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":420,"y":600,"wires":[["6afcd177.38071","606bb97a.6a9ec8"]]},{"id":"1b41961e.7e7142","type":"debug","z":"d606f1f3.653fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"a37e5836.cec838","type":"debug","z":"d606f1f3.653fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":80,"wires":[]},{"id":"29329e1b.ce7c62","type":"join","z":"d606f1f3.653fa8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1230,"y":600,"wires":[["586e42d6.fa3adc","2ea00a4e.ee6676"]]},{"id":"586e42d6.fa3adc","type":"debug","z":"d606f1f3.653fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1410,"y":80,"wires":[]},{"id":"9dd57b8e.3d6c68","type":"exec","z":"d606f1f3.653fa8","command":"openssl ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1040,"y":600,"wires":[["29329e1b.ce7c62","c4bd6973.9df508"],["63c764d1.734bdc"],[]]},{"id":"5cd69a3e.a87be4","type":"template","z":"8ad42719.c6583","name":"prep.: sym. key generation","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"rand 32 | base64 > /data/temp/{{payload}}_secretKey","output":"str","x":740,"y":160,"wires":[["d38c6c48.f34b5","9fa27105.afbe18"]]},{"id":"9fa27105.afbe18","type":"debug","z":"8ad42719.c6583","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":40,"wires":[]},{"id":"59cb064a.0cfdf8","type":"change","z":"8ad42719.c6583","name":"username -> payload","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"data.PII.username","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["5cd69a3e.a87be4"]]},{"id":"6afcd177.38071","type":"change","z":"d606f1f3.653fa8","name":"specific prep.: args","rules":[{"t":"set","p":"payload.username","pt":"msg","to":"data.PII.username","tot":"msg"},{"t":"set","p":"payload.ibvIndex","pt":"msg","to":"parts.index + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":600,"wires":[["29a54b63.8fc24c","7a322e9a.7be4e"]]},{"id":"29a54b63.8fc24c","type":"debug","z":"d606f1f3.653fa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":80,"wires":[]},{"id":"347cb636.4343ca","type":"file","z":"403f5d7a.b0ab14","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":650,"y":280,"wires":[[]]},{"id":"9ee9c77f.8c45f8","type":"template","z":"403f5d7a.b0ab14","name":"set msg.filename","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/data/localstorage/ibv{{payload.ibvIndex}}_{{payload.username}}_share_2","output":"str","x":450,"y":280,"wires":[["347cb636.4343ca","c5aff498.805b88"]]},{"id":"c4bd6973.9df508","type":"debug","z":"d606f1f3.653fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":80,"wires":[]},{"id":"23ab4346.8c3074","type":"change","z":"403f5d7a.b0ab14","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ }","tot":"jsonata"},{"t":"set","p":"payload.ibvIndex","pt":"msg","to":"msg.parts.index + 1","tot":"jsonata"},{"t":"set","p":"payload.username","pt":"msg","to":"data.PII['username']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":280,"wires":[["9ee9c77f.8c45f8","78c09e4b.0a8338"]]},{"id":"78c09e4b.0a8338","type":"debug","z":"403f5d7a.b0ab14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"c5aff498.805b88","type":"debug","z":"403f5d7a.b0ab14","name":"filename","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":80,"wires":[]},{"id":"33cbe036.c1a8b","type":"catch","z":"810ccd41.c8917","name":"file_write failed","scope":["40608173.6c137","448b6170.7120a","b6607d0a.2e42c8"],"uncaught":false,"x":1360,"y":420,"wires":[["ca37283e.0c7"]]},{"id":"ca37283e.0c7","type":"debug","z":"810ccd41.c8917","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1570,"y":80,"wires":[]},{"id":"8c349d76.10c7d8","type":"subflow:91fc2fd0.285858","z":"e5e12e11.00c9c","name":"","env":[],"x":220,"y":500,"wires":[]},{"id":"a58e0500.f3aba","type":"subflow:6e782947.a4b968","z":"e5e12e11.00c9c","name":"","env":[],"x":170,"y":540,"wires":[["3a9f6b0b.06ac24","9b2efb35.f88888","326f1894.566f38","500586fd.76249"]]},{"id":"73dd7e01.37d56","type":"subflow:2da2b08.c31a85","z":"e5e12e11.00c9c","name":"","env":[],"x":730,"y":540,"wires":[["2fa76f71.9925d8","5c3703e4.a39854","8fda8a6a.05179"]]},{"id":"2fa76f71.9925d8","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":240,"wires":[]},{"id":"5c3703e4.a39854","type":"subflow:810ccd41.c8917","z":"e5e12e11.00c9c","name":"","env":[],"x":990,"y":600,"wires":[]},{"id":"8fda8a6a.05179","type":"subflow:8ad42719.c6583","z":"e5e12e11.00c9c","name":"","env":[],"x":1010,"y":540,"wires":[["f71a6913.8abf2","85c96850.f408b8"]]},{"id":"c529067d.34aee","type":"subflow:403f5d7a.b0ab14","z":"e5e12e11.00c9c","name":"","env":[],"x":1590,"y":560,"wires":[]},{"id":"8a62ffdc.6e592","type":"function","z":"d248c858.3ab7e8","name":"sanitize","func":"delete msg.rc;\ndelete msg.filename;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":380,"wires":[[]]},{"id":"85c96850.f408b8","type":"subflow:d606f1f3.653fa8","z":"e5e12e11.00c9c","name":"","env":[],"x":1280,"y":540,"wires":[["272104d6.69b92c","7059f588.2a2614"],["c529067d.34aee"]]},{"id":"3a9f6b0b.06ac24","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":240,"wires":[]},{"id":"f71a6913.8abf2","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":240,"wires":[]},{"id":"272104d6.69b92c","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":240,"wires":[]},{"id":"b0e86fd7.34e2a8","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1850,"y":240,"wires":[]},{"id":"bc9ca57c.f8642","type":"http response","z":"e5e12e11.00c9c","d":true,"name":"","statusCode":"303","headers":{},"x":2480,"y":280,"wires":[]},{"id":"3538295.16ed0d6","type":"link out","z":"e5e12e11.00c9c","name":"","links":["9fff958e.c0217"],"x":2435,"y":540,"wires":[]},{"id":"9fff958e.c0217","type":"link in","z":"6143b252.c10a34","name":"","links":["3538295.16ed0d6"],"x":135,"y":540,"wires":[["3b7c4e7.ebb5e32","138cedf2.82eae2"]]},{"id":"3b7c4e7.ebb5e32","type":"debug","z":"6143b252.c10a34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":270,"y":240,"wires":[]},{"id":"8d2b462b.853a9","type":"debug","z":"35d0be4c.21dc9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":780,"wires":[]},{"id":"5893c6ed.e165a","type":"link out","z":"6143b252.c10a34","name":"","links":["3e78bfa7.1236c"],"x":815,"y":540,"wires":[]},{"id":"3e78bfa7.1236c","type":"link in","z":"c45e37f.502d348","name":"","links":["5893c6ed.e165a"],"x":155,"y":540,"wires":[["89c6797.8f9d888","67017bdf.c5e104"]]},{"id":"9c51e399.4003c","type":"split","z":"35d0be4c.21dc9a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":250,"y":900,"wires":[["8d2b462b.853a9","5392520c.f3b804"]]},{"id":"6d9d0bf3.1a6c9c","type":"join","z":"35d0be4c.21dc9a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2170,"y":900,"wires":[["3c864f4c.946ff","e7e1fdd4.be822"]]},{"id":"3c864f4c.946ff","type":"debug","z":"35d0be4c.21dc9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2350,"y":780,"wires":[]},{"id":"cd571de0.d926b8","type":"file","z":"35d0be4c.21dc9a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"base64","x":1110,"y":900,"wires":[["44e3eecf.90eed8","2e2fbcae.64666c"]]},{"id":"64713b1.e517dc4","type":"template","z":"35d0be4c.21dc9a","name":"","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/issuer-data/localstorage/ibv{{payload.ibvIndex}}_{{payload.username}}_share2_enc","output":"str","x":680,"y":900,"wires":[["2322dcaa.a05484","5f7ac91b.6fafe8"]]},{"id":"5392520c.f3b804","type":"change","z":"35d0be4c.21dc9a","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.secondShare","tot":"msg"},{"t":"set","p":"payload.username","pt":"msg","to":"data.PII[\"'username'\"]","tot":"msg"},{"t":"set","p":"payload.ibvIndex","pt":"msg","to":"msg.parts.index + 1","tot":"jsonata"},{"t":"delete","p":"data.ibvs[\"1\"].username","pt":"msg"},{"t":"delete","p":"data.ibvs[\"1\"].ibvIndex","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":900,"wires":[["39f3d9cb.198d9e","64713b1.e517dc4"]]},{"id":"44e3eecf.90eed8","type":"debug","z":"35d0be4c.21dc9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":780,"wires":[]},{"id":"2322dcaa.a05484","type":"debug","z":"35d0be4c.21dc9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":780,"wires":[]},{"id":"39f3d9cb.198d9e","type":"debug","z":"35d0be4c.21dc9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":780,"wires":[]},{"id":"5f7ac91b.6fafe8","type":"change","z":"35d0be4c.21dc9a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.secondShare","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":900,"wires":[["cd571de0.d926b8","7045f20b.cda86c"]]},{"id":"7045f20b.cda86c","type":"debug","z":"35d0be4c.21dc9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":780,"wires":[]},{"id":"a24d7c3d.6a08","type":"exec","z":"35d0be4c.21dc9a","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1740,"y":900,"wires":[["6b602589.54f1cc","3b8d2610.fbecc2"],[],[]]},{"id":"cf0e8481.d6357","type":"template","z":"35d0be4c.21dc9a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" dgst -sha256 -sign /issuer-data/keys/rsa_issuer_private.pem /issuer-data/localstorage/ibv{{payload.ibvIndex}}_{{payload.username}}_share2_enc","output":"str","x":1540,"y":900,"wires":[["a24d7c3d.6a08","f551899c.faa63"]]},{"id":"6b602589.54f1cc","type":"debug","z":"35d0be4c.21dc9a","name":"ibv_signature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1950,"y":780,"wires":[]},{"id":"2e2fbcae.64666c","type":"change","z":"35d0be4c.21dc9a","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{ }","tot":"json"},{"t":"set","p":"payload.username","pt":"msg","to":"data.PII[\"'username'\"]","tot":"msg"},{"t":"set","p":"payload.ibvIndex","pt":"msg","to":"msg.parts.index + 1","tot":"jsonata"},{"t":"set","p":"payload.filename","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":900,"wires":[["cf0e8481.d6357","accdfb3e.84d11"]]},{"id":"accdfb3e.84d11","type":"debug","z":"35d0be4c.21dc9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":780,"wires":[]},{"id":"f551899c.faa63","type":"debug","z":"35d0be4c.21dc9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1750,"y":780,"wires":[]},{"id":"3b8d2610.fbecc2","type":"change","z":"35d0be4c.21dc9a","name":"","rules":[{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"rc","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"\"IBVsignature_\" & msg.parts.index","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":900,"wires":[["6d9d0bf3.1a6c9c","ceb9fea8.0a4ee8"]]},{"id":"ceb9fea8.0a4ee8","type":"debug","z":"35d0be4c.21dc9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2170,"y":780,"wires":[]},{"id":"e7e1fdd4.be822","type":"change","z":"35d0be4c.21dc9a","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"data.ibvs.signatures","tot":"msg"},{"t":"set","p":"data.ibvs.signatures.algorithm","pt":"msg","to":"sha-256","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2380,"y":900,"wires":[["771bffde.65d6c8"]]},{"id":"771bffde.65d6c8","type":"debug","z":"35d0be4c.21dc9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2590,"y":780,"wires":[]},{"id":"b3d16aaf.182518","type":"file in","z":"d248c858.3ab7e8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":610,"y":380,"wires":[["864735f.a563c48","41d1b908.40722"]]},{"id":"e3d4168f.4bb62","type":"template","z":"d248c858.3ab7e8","name":"","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/data/keys/rsa_{{payload}}_public.pem","output":"str","x":420,"y":380,"wires":[["b3d16aaf.182518","3b50c259.54aa66"]]},{"id":"3b50c259.54aa66","type":"debug","z":"d248c858.3ab7e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"136617cd.833728","type":"change","z":"d248c858.3ab7e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"tmp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"data.PII['username']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":380,"wires":[["e3d4168f.4bb62","eefe5fd8.d3ee4"]]},{"id":"eefe5fd8.d3ee4","type":"debug","z":"d248c858.3ab7e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":80,"wires":[]},{"id":"864735f.a563c48","type":"debug","z":"d248c858.3ab7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":80,"wires":[]},{"id":"41d1b908.40722","type":"change","z":"d248c858.3ab7e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"data.keys.enrollmentPubKey","tot":"msg"},{"t":"move","p":"tmp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":380,"wires":[["8a62ffdc.6e592","233f7540.fdf192"]]},{"id":"233f7540.fdf192","type":"debug","z":"d248c858.3ab7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":80,"wires":[]},{"id":"7059f588.2a2614","type":"subflow:d248c858.3ab7e8","z":"e5e12e11.00c9c","name":"","env":[],"x":1600,"y":520,"wires":[["b0e86fd7.34e2a8","50d7e029.f79168"]]},{"id":"138cedf2.82eae2","type":"subflow:35d0be4c.21dc9a","z":"6143b252.c10a34","name":"","env":[],"x":330,"y":540,"wires":[["47004685.485f5","8a6b904f.b0c95"]]},{"id":"89c6797.8f9d888","type":"debug","z":"c45e37f.502d348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"47004685.485f5","type":"debug","z":"6143b252.c10a34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":240,"wires":[]},{"id":"73621685.962c48","type":"change","z":"e14be71e.9ff1c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"data.keys.encryptedSecretKey","tot":"msg"},{"t":"move","p":"tmp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":300,"wires":[["f531229c.ca158","c93b7553.c9703"]]},{"id":"8475f3fd.4b3a68","type":"change","z":"e14be71e.9ff1c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"tmp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{ }","tot":"json"},{"t":"set","p":"payload.username","pt":"msg","to":"data.PII[\"'username'\"]","tot":"msg"},{"t":"set","p":"payload.recipient","pt":"msg","to":"bops","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":300,"wires":[["a8a54101.7b645","8700d48b.469e38"]]},{"id":"3b9590a8.ccc428","type":"exec","z":"e14be71e.9ff1c","command":"openssl ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":300,"wires":[["8b9de07b.6e27d","dc32cda4.4d1a9"],[],[]]},{"id":"f531229c.ca158","type":"debug","z":"e14be71e.9ff1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":80,"wires":[]},{"id":"8b9de07b.6e27d","type":"debug","z":"e14be71e.9ff1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"d061a140.e5617","type":"debug","z":"e14be71e.9ff1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"a8a54101.7b645","type":"debug","z":"e14be71e.9ff1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":80,"wires":[]},{"id":"f6f9dad8.4a32a8","type":"file in","z":"e14be71e.9ff1c","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"ascii","x":1250,"y":300,"wires":[["73621685.962c48","a5b43f13.fbc69"]]},{"id":"e1f425ad.10707","type":"file","z":"e14be71e.9ff1c","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1870,"y":400,"wires":[[]]},{"id":"dc32cda4.4d1a9","type":"change","z":"e14be71e.9ff1c","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{ }","tot":"json"},{"t":"set","p":"payload.username","pt":"msg","to":"data.PII[\"'username'\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":300,"wires":[["27a751bb.6c2c26"]]},{"id":"75ad15b9.540da4","type":"template","z":"e14be71e.9ff1c","name":"","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/data/temp/{{payload.username}}_secKeyEnc","output":"str","x":1680,"y":400,"wires":[["e1f425ad.10707"]]},{"id":"a5b43f13.fbc69","type":"change","z":"e14be71e.9ff1c","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{ }","tot":"json"},{"t":"set","p":"payload.username","pt":"msg","to":"data.PII.username","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":400,"wires":[["75ad15b9.540da4"]]},{"id":"50d7e029.f79168","type":"subflow:e14be71e.9ff1c","z":"e5e12e11.00c9c","name":"","env":[],"x":1920,"y":540,"wires":[["4b51143d.fc33dc","a3575f3a.4589e8"]]},{"id":"c93b7553.c9703","type":"function","z":"e14be71e.9ff1c","name":"","func":"delete msg.rc;\ndelete msg.filename;\nmsg.data.keys.enrollmentPubKey = msg.data.keys.enrollmentPubKey.toString('base64');\nmsg.data.keys.encryptedSecretKey = msg.data.keys.encryptedSecretKey.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":300,"wires":[[]]},{"id":"5428a9aa.042a8","type":"inject","z":"c45e37f.502d348","name":"go!","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":860,"wires":[["84a238b8.7d717"]]},{"id":"8963040b.d9834","type":"function","z":"49be110c.adf37","name":"create eth-account","func":"const Web3 = global.get('webjs');\nvar web3 = new Web3(new Web3.providers.WebsocketProvider(\"wss://ropsten.infura.io/ws/v3/9b27aa73a112468eb2fb3624cf8b14b9\"));\n\nvar account; \ntry{account = web3.eth.accounts.create();}\ncatch(err){console.log(err);}\nmsg.payload = account;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["8111ef87.911dd8"]]},{"id":"8111ef87.911dd8","type":"json","z":"49be110c.adf37","name":"","property":"account","action":"str","pretty":false,"x":410,"y":80,"wires":[["ab7f7c79.b637a"]]},{"id":"ab7f7c79.b637a","type":"file","z":"49be110c.adf37","name":"","filename":"/bops-data/accounts/accountList","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":670,"y":80,"wires":[[]]},{"id":"84a238b8.7d717","type":"subflow:49be110c.adf37","z":"c45e37f.502d348","name":"","env":[],"x":490,"y":860,"wires":[]},{"id":"30e6a384.2612fc","type":"comment","z":"c45e37f.502d348","name":"utility functions below","info":"","x":240,"y":820,"wires":[]},{"id":"501564ce.e78be4","type":"function","z":"faab45d6.9c06a8","name":"sanitize","func":"msg.data.keys.issPubKey = msg.payload;\nmsg.data.keys.issName = \"issuer-01\"\ndelete msg.tmp;\ndelete msg.filename;\ndelete msg.payload;\ndelete msg.topic;\ndelete msg.rc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":380,"wires":[["d9286235.8cbbc"]]},{"id":"e0299cf.f9b0e6","type":"function","z":"c45e37f.502d348","name":"privateKey -> publicKey","func":"const ethUtil = global.get('ethutil');      \nconst ethWallet = global.get('ethwallet');\n\nvar pubKey;\n\ntry{\n    pubKey = extractPubKey(\"0xbb6b979db6eb7ca208d3a32bb748a5e842dffa7f9956dd1e374a8080b7c3410a\");\n}\ncatch(err){console.log(err);}\n\nmsg.data.keys.ethPubKey = pubKey;\nreturn msg;\n\nfunction extractPubKey(privateKey){\n    var privateKeyBuffer = ethUtil.toBuffer(privateKey);\n    var wallet = ethWallet.default.fromPrivateKey(privateKeyBuffer);\n    return wallet.getPublicKeyString();\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":900,"wires":[[]]},{"id":"4226abaf.68d094","type":"function","z":"44482c87.21495c","name":"create new account","func":"const web3 = flow.get(\"flow-web3\");\nconst acc = await addToWallet(await createNewAccount());\nexportSharedObjects();\nmsg.data.ethAccount = acc;\nreturn msg;\n\nfunction exportSharedObjects(){\n    flow.set(\"flow-acc\", acc);\n}\n\nasync function createNewAccount(){\n    // returned object properties: address, privateKey\n    // returned object functions: signTransaction, sign, encrypt\n    return await web3.eth.accounts.create();\n}\n\nasync function addToWallet(account){\n    web3.eth.accounts.wallet.add(account);\n    return account;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":540,"wires":[["aa873ae4.0635c8","614f1122.f87e7"]]},{"id":"2816218a.42d6be","type":"debug","z":"44482c87.21495c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":240,"wires":[]},{"id":"17ffd602.6fbaf2","type":"debug","z":"c45e37f.502d348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"aa873ae4.0635c8","type":"debug","z":"44482c87.21495c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":240,"wires":[]},{"id":"2ea00a4e.ee6676","type":"function","z":"d606f1f3.653fa8","name":"","func":"for(var i=0; i<msg.data.ibvsCount;i++){\n    msg.payload[i] = msg.payload[i].toString('base64');\n    msg.data.ibvs[i].secondShareVencSenc = msg.payload[i];\n    delete msg.data.ibvs[i].secondShare;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":600,"wires":[[]]},{"id":"e4e32135.d4862","type":"debug","z":"810ccd41.c8917","name":"ibv2_share1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":540,"wires":[]},{"id":"c96baa40.d50958","type":"debug","z":"810ccd41.c8917","name":"ibv1_share1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":500,"wires":[]},{"id":"7f1202de.b01d84","type":"debug","z":"810ccd41.c8917","name":"ibv3_share1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":580,"wires":[]},{"id":"7ff88850.3c89c","type":"debug","z":"810ccd41.c8917","name":"ibv1_share2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":620,"wires":[]},{"id":"a0a52d20.a35a5","type":"debug","z":"810ccd41.c8917","name":"ibv2_share2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":660,"wires":[]},{"id":"f4a1da30.dc9ab8","type":"debug","z":"810ccd41.c8917","name":"ibv3_share2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":700,"wires":[]},{"id":"d9286235.8cbbc","type":"debug","z":"faab45d6.9c06a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"4b51143d.fc33dc","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2170,"y":240,"wires":[]},{"id":"657f4299.be7954","type":"template","z":"91fc2fd0.285858","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>HORCRUX /register</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\">\n  <link href=\"https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap\" rel=\"stylesheet\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js\"></script>\n  <style>\n    input[type=text], input[type=password] {\n        width: 95%;\n        padding: 5px;\n        margin: 5px 0 10px 30px;\n        display: inline-block;\n        border: none;\n        background: #f1f1f1;\n        background-color: #ddd;\n    }\n    input[type=file],label{\n        margin-left: 30px;\n    }\n            \n    input[type=text]:focus, input[type=password]:focus, textarea:focus {\n        background-color: #fff;\n        outline: none;\n    }\n    \n    div {\n        padding: 10px 0;\n    }\n    \n    fieldset {\n        background-color: #dddddd;\n    }\n            \n    h1, h3 {\n        text-align: center;\n    }\n            \n    hr {\n        border: 1px solid #f1f1f1;\n        margin-bottom: 25px;\n    }\n            \n    legend {\n        background-color: #b1a296;\n        color: white;\n        padding: 5px 10px;\n    }\n\n   .registerbtn {\n        background-color: #4CAF50;\n        color: white;\n        padding: 16px 20px;\n        margin: 8px 0;\n        border: none;\n        cursor: pointer;\n        width: 100%;\n        opacity: 0.9;\n    }\n    .registerbtn:hover {\n         opacity: 1;\n    }\n    body{\n            font-family: 'Raleway', sans-serif;\n    }\n    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */\n    .row.content {height: 1500px}\n    \n    /* Set gray background color and 100% height */\n    .sidenav {\n      background-color: #f1f1f1;\n      height: 100%;\n    }\n    \n    /* Set black background color, white text and some padding */\n    header {\n      background-color: #333;\n      color: white;\n      padding: 15px;\n    }\n    \n    img.mydiv {\n        display: block;\n        margin-left: auto;\n        margin-right: auto;\n    }\n    \n    p.logotext{\n        text-align: center\n    }\n    \n\n    \n    /* On small screens, set height to 'auto' for sidenav and grid */\n    @media screen and (max-width: 767px) {\n      .sidenav {\n        height: auto;\n        padding: 15px;\n      }\n      .row.content {height: auto;} \n    }\n  </style>\n</head>\n<body>\n<header>\n<div class=\"container-fluid\">\n    <div class=\"row\">\n        <div class=\"col-sm-5 text-right\">\n            <a href=\"http://localhost:1000/register\">register</a>\n        </div>\n        <div class=\"col-sm-2\">\n              <img class=\"mydiv\" src=\"http://localhost:1000/horcrux_logo.png\" height=\"64\" width=\"64\">\n              <p class=\"logotext\">HORCRUX</p>\n        </div>\n        <div class=\"col-sm-5 text-left\">\n            <a href=\"http://localhost:1000/login\">test</a>\n        </div>\n    </div>\n\n\n</div>\n</header>\n<div class=\"container-fluid\">\n  <div class=\"row content\">\n    <div class=\"col-sm\"></div>\n    <div class=\"col-sm\">\n        <form enctype='multipart/form-data' action=\"/register\" method=\"post\">\n            <div class=\"container\">\n                <h1>-HORCRUX-</h1>\n                <h3> registration form </h3>\n                <hr>\n                <br><br>                \n                <fieldset name=\"IBVs\">\n                    <legend>IBVs</legend>\n                    \n                    <label for=\"features['fingerprint']\"><b>Fingerprint</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"features['fingerprint']\"><br><br>\n                    \n                    <label for=\"features['portrait']\"><b>Portrait</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"features['voice']\"><br><br>\n                </fieldset>\n                <button type=\"submit\" class=\"registerbtn\">Register</button>  \n        </form>\n    </div>\n  </div>\n      <div class=\"col-sm\"></div>\n</div>\n</body>\n</html>\n\n\n\n\n\n\n\n","output":"str","x":400,"y":600,"wires":[["9d607965.925f5","61068b18.a37f94","7f21851e.42b934"]]},{"id":"c04decae.f3814","type":"function","z":"13bbe636.51c542","name":"assemble didDoc","func":"// create empty didDoc object\nmsg.didDocAssembly = { };\n\n// transfer the encrypted secret key\nmsg.didDocAssembly.encSecKey = msg.data.keys.encryptedSecretKey;\n// transfer issuer signature\nmsg.didDocAssembly.issSignature = msg.data.keys.enrollmentPubKeySignature;\n// transfer issuer \nmsg.didDocAssembly.enrollmentSignature = msg.data.keys.enrollmentSignature;\n\n/* REMOVED DUE TO NOT BEING REQUIRED AS PER SPEC\n// transfer user public key\nmsg.didDocAssembly.enrollmentPubKey = msg.data.keys.enrollmentPubKey;\n\n*/\n\n\n// transfer ibv_shares and corresponding issuer signatures\nif(msg.data.ibvs[\"0\"] !== undefined){\n    msg.didDocAssembly.ibv0_share2 = msg.data.ibvs[\"0\"].secondShareVencSenc;\n}\nif(msg.data.ibvs[\"1\"] !== undefined){\n    msg.didDocAssembly.ibv1_share2 = msg.data.ibvs[\"1\"].secondShareVencSenc;\n}\nif(msg.data.ibvs[\"2\"] !== undefined){\n    msg.didDocAssembly.ibv2_share2 = msg.data.ibvs[\"2\"].secondShareVencSenc;\n}\nmsg.didDoc = JSON.stringify(msg.didDocAssembly);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["17271154.19c9c7"]]},{"id":"b7263364.2604c","type":"function","z":"7ada6151.0e0478","d":true,"name":"ipfs setup & clean up","func":"return msg;","outputs":1,"noerr":0,"initialize":"// instantiate local ipfs-node and export it to the flow context\nconst IPFS = global.get('ipfscore');\nconst ipfs = await IPFS.create();\nflow.set('ipfsinstance', ipfs);\n\n// create empty data structures for: \n// did2cid              ->  mapping (dictionary)\n// issPubKeys           ->  array (list)\n// ipns-version-counter ->  Number\nflow.set([\"did2cid\", \"ipns-version-counter\", \"issPubKeys\"],[{},0,{}]);\n","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nconst ipfs = flow.get('ipfsinstance');\nipfs.stop();","x":240,"y":1840,"wires":[["fda8b7eb.37b438","6a78789e.959268"]]},{"id":"fda8b7eb.37b438","type":"debug","z":"7ada6151.0e0478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1640,"wires":[]},{"id":"7e11a447.a1b3dc","type":"link out","z":"c45e37f.502d348","name":"","links":["ead3d6b3.ea2c68"],"x":1115,"y":540,"wires":[]},{"id":"ead3d6b3.ea2c68","type":"link in","z":"7ada6151.0e0478","name":"","links":["7e11a447.a1b3dc"],"x":175,"y":400,"wires":[["1a5e01f9.a9059e","afee04f9.75111"]]},{"id":"1a2c1dba.6628da","type":"http in","z":"41058a1f.c5b5fc","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":140,"y":560,"wires":[["f877eb93.3a2bb8","4700ffbd.17c52"]]},{"id":"f877eb93.3a2bb8","type":"template","z":"41058a1f.c5b5fc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>HORCRUX /login</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\">\n  <link href=\"https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap\" rel=\"stylesheet\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js\"></script>\n  <style>\n    input[type=text], input[type=password] {\n        width: 95%;\n        padding: 5px;\n        margin: 5px 0 10px 30px;\n        display: inline-block;\n        border: none;\n        background: #f1f1f1;\n        background-color: #ddd;\n    }\n    input[type=file],label{\n        margin-left: 30px;\n    }\n            \n    input[type=text]:focus, input[type=password]:focus, textarea:focus {\n        background-color: #fff;\n        outline: none;\n    }\n    \n    div {\n        padding: 10px 0;\n    }\n    \n    fieldset {\n        background-color: #dddddd;\n    }\n            \n    h1, h3 {\n        text-align: center;\n    }\n            \n    hr {\n        border: 1px solid #f1f1f1;\n        margin-bottom: 25px;\n    }\n            \n    legend {\n        background-color: #b1a296;\n        color: white;\n        padding: 5px 10px;\n    }\n\n   .registerbtn {\n        background-color: #4CAF50;\n        color: white;\n        padding: 16px 20px;\n        margin: 8px 0;\n        border: none;\n        cursor: pointer;\n        width: 100%;\n        opacity: 0.9;\n    }\n    .registerbtn:hover {\n         opacity: 1;\n    }\n    body{\n            font-family: 'Raleway', sans-serif;\n    }\n    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */\n    .row.content {height: 1500px}\n    \n    /* Set gray background color and 100% height */\n    .sidenav {\n      background-color: #f1f1f1;\n      height: 100%;\n    }\n    \n    /* Set black background color, white text and some padding */\n    header {\n      background-color: #333;\n      color: white;\n      padding: 15px;\n    }\n    \n    img.mydiv {\n        display: block;\n        margin-left: auto;\n        margin-right: auto;\n    }\n    \n    p.logotext{\n        text-align: center\n    }\n    \n\n    \n    /* On small screens, set height to 'auto' for sidenav and grid */\n    @media screen and (max-width: 767px) {\n      .sidenav {\n        height: auto;\n        padding: 15px;\n      }\n      .row.content {height: auto;} \n    }\n  </style>\n</head>\n<body>\n<header>\n<div class=\"container-fluid\">\n    <div class=\"row\">\n        <div class=\"col-sm-5 text-right\">\n            <a href=\"http://localhost:1000/register\">register</a>\n        </div>\n        <div class=\"col-sm-2\">\n              <img class=\"mydiv\" src=\"http://localhost:1000/horcrux_logo.png\" height=\"64\" width=\"64\">\n              <p class=\"logotext\">HORCRUX</p>\n        </div>\n        <div class=\"col-sm-5 text-left\">\n            <a href=\"http://localhost:1000/login\">test</a>\n        </div>\n    </div>\n\n\n</div>\n</header>\n<div class=\"container-fluid\">\n  <div class=\"row content\">\n    <div class=\"col-sm\"></div>\n    <div class=\"col-sm\">\n        <form enctype='multipart/form-data' action=\"/authenticate\" method=\"post\">\n            <div class=\"container\">\n                <h1>-HORCRUX-</h1>\n                <h3>login form</h3>\n                <hr>\n                <fieldset name=\"DID\">\n                    <legend>PII</legend>\n                    <label for=\"authreq['did']\"><b> DID </b></label><br>\n                    <input type=\"text\" name=\"authreq['did']\" placeholder= \"DID\" size=\"20\" required/><br>\n                </fieldset>\n                \n                <br><br>                \n                <fieldset name=\"IBVs\">\n                    <legend>IBVs</legend>\n                    \n                    <label for=\"authreq['ibv0']\"><b>Fingerprint</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"authreq['ibv0']\"><br><br>\n                    \n                    <label for=\"authreq['ibv1']\"><b>Portrait</b></label><br>\n                    <input type=\"file\" id=\"myFile\" name=\"authreq['ibv1']\"><br><br>\n                </fieldset>\n                \n                <button type=\"submit\" class=\"registerbtn\">Login</button>  \n        </form>\n    </div>\n  </div>\n      <div class=\"col-sm\"></div>\n</div>\n</body>\n</html>\n\n\n\n\n\n\n\n","output":"str","x":340,"y":560,"wires":[["d2f183b6.fd80b","c98ae792.ae22b8"]]},{"id":"d2f183b6.fd80b","type":"http response","z":"41058a1f.c5b5fc","name":"","statusCode":"","headers":{},"x":530,"y":560,"wires":[]},{"id":"4700ffbd.17c52","type":"debug","z":"41058a1f.c5b5fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":240,"wires":[]},{"id":"c98ae792.ae22b8","type":"debug","z":"41058a1f.c5b5fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":240,"wires":[]},{"id":"52cca304.f2c244","type":"subflow:41058a1f.c5b5fc","z":"e5e12e11.00c9c","name":"","env":[],"x":240,"y":1180,"wires":[]},{"id":"601cd12e.b28268","type":"http in","z":"3cb671d2.42e046","name":"","url":"/authenticate","method":"post","upload":true,"swaggerDoc":"","x":150,"y":580,"wires":[["864fc06.3042dc","3be0a237.01c016"]]},{"id":"864fc06.3042dc","type":"debug","z":"3cb671d2.42e046","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":140,"wires":[]},{"id":"3be0a237.01c016","type":"function","z":"3cb671d2.42e046","name":"extract request information","func":"msg.data = {};\n// extract did\nmsg.tmp = msg.req.body.authreq[\"'did'\"];\n// decompose did\nmsg.data.did = {};\nmsg.data.did.type = msg.tmp.slice(0,3);\nmsg.data.did.didMethod = msg.tmp.slice(4,7);\nmsg.data.did.chainId = msg.tmp.slice(7,8);\nmsg.data.did.id = msg.tmp.slice(9);\n\n// extract ibvs\nmsg.data.ibvs = msg.req.files;\n// cleanup\ndelete msg.tmp;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":580,"wires":[["308fdf2c.64a9f8"]]},{"id":"308fdf2c.64a9f8","type":"debug","z":"3cb671d2.42e046","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"15b16076.329af","type":"function","z":"fa208c3e.ba661","name":"append enrollment publicKey","func":"msg.data.keys = {};\nmsg.data.keys.enrollmentPublicKey = msg.payload;\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":440,"wires":[["944aa784.38c018"]]},{"id":"64c79b1d.2aba5c","type":"subflow:3cb671d2.42e046","z":"e5e12e11.00c9c","name":"","env":[],"x":180,"y":1220,"wires":[["47dc57a6.507a6","49752eb3.d4f78"]]},{"id":"dc2ef71d.fba6d","type":"link out","z":"e5e12e11.00c9c","name":"","links":["72c54156.f83f3"],"x":1175,"y":1220,"wires":[]},{"id":"72c54156.f83f3","type":"link in","z":"eb92265a.6276e","name":"","links":["dc2ef71d.fba6d"],"x":235,"y":440,"wires":[["b9ec9e33.810de8","d184e05c.89d46"]]},{"id":"2b88ada4.87b872","type":"file in","z":"fa208c3e.ba661","name":"fetch enrollment pubkey","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":770,"y":440,"wires":[["15b16076.329af","7141881e.11d5b"]]},{"id":"3de34bc7.2840e4","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]},{"id":"c7aa1776.3f8a8","type":"function","z":"fa208c3e.ba661","name":"reconstruct unique id and derive absolute filepath","func":"var path = \"/data/keys/\";\nvar filename = \"rsa_\" + msg.data.did.id + \"_public.pem\" ;\nmsg.filename = path + filename;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":440,"wires":[["2b88ada4.87b872","ef22f433.87c018"]]},{"id":"9b2efb35.f88888","type":"subflow:b7289258.0cfa2","z":"e5e12e11.00c9c","name":"","env":[],"x":480,"y":540,"wires":[["73dd7e01.37d56","3de34bc7.2840e4"]]},{"id":"6a78789e.959268","type":"function","z":"7ada6151.0e0478","name":"add didDoc to ipfs","func":"/*\nconst ipfs = flow.get('ipfsinstance');\n\nconst { cid } = await addFile(msg.didDoc);\nmsg.cid = cid;\nvar stats = await ipfs.object.stat(msg.cid);\nmsg.data.cidstats = stats;\nreturn msg;\n\nasync function addFile(file){\n    return await ipfs.add(file);\n}\n*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1840,"wires":[["d4347a64.65f298","89ace5e7.cabd7","729369bf.5652a"]]},{"id":"d4347a64.65f298","type":"debug","z":"7ada6151.0e0478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1640,"wires":[]},{"id":"89ace5e7.cabd7","type":"function","z":"7ada6151.0e0478","name":"run-time accounting(issPubKey, did2cid-map, ipns-doc-version)","func":"// const ipfs = flow.get('ipfsinstance');\n\n// fetch our data structs for persistence\nvar did2cid = flow.get('did2cid');\nvar ipnsDocVersion = flow.get('ipns-version-counter');\nvar issPubKeys = flow.get('issPubKeys');\n\n// add did -> cid mapping\ndid2cid[msg.data.ethAccount.address] = msg.data.cidstats.Hash;\nissPubKeys[msg.data.keys.issName] = msg.data.keys.issPubKey;\nipnsDocVersion++;\n\n// export version counter, cause it is not shared by reference\nflow.set(\"ipns-version-counter\", ipnsDocVersion);\n\n// export for subflow\nmsg.ipns = {};\nmsg.ipns.docVersion = ipnsDocVersion;\nmsg.ipns.did2cid = did2cid;\nmsg.ipns.issPubKeys = issPubKeys;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1840,"wires":[["b995e243.89eaa","2fb65425.a326bc"]]},{"id":"b995e243.89eaa","type":"debug","z":"7ada6151.0e0478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1640,"wires":[]},{"id":"ef22f433.87c018","type":"debug","z":"fa208c3e.ba661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":140,"wires":[]},{"id":"7141881e.11d5b","type":"debug","z":"fa208c3e.ba661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":140,"wires":[]},{"id":"944aa784.38c018","type":"debug","z":"fa208c3e.ba661","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":140,"wires":[]},{"id":"47dc57a6.507a6","type":"debug","z":"e5e12e11.00c9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":940,"wires":[]},{"id":"326f1894.566f38","type":"image","z":"e5e12e11.00c9c","name":"png: portrait","width":160,"data":"req.files[1].buffer","dataType":"msg","thumbnail":false,"active":false,"pass":false,"outputs":0,"x":470,"y":280,"wires":[]},{"id":"500586fd.76249","type":"image","z":"e5e12e11.00c9c","name":"png: fingerprint","width":160,"data":"req.files[0].buffer","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":480,"y":320,"wires":[]},{"id":"4b4bd4cd.bf81c4","type":"link out","z":"eb92265a.6276e","name":"","links":["369b41e8.a4fade"],"x":695,"y":440,"wires":[]},{"id":"369b41e8.a4fade","type":"link in","z":"77afa456.4cd374","name":"","links":["4b4bd4cd.bf81c4"],"x":235,"y":440,"wires":[["6ae45de8.895a34"]]},{"id":"9b904c9a.329478","type":"http response","z":"ba170577.9b8a28","name":"","statusCode":"200","headers":{"content-type":"text/html"},"x":620,"y":80,"wires":[]},{"id":"555221f8.2784b","type":"template","z":"ba170577.9b8a28","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Registration Success</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\">\n  <link href=\"https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap\" rel=\"stylesheet\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js\"></script>\n  <link href=\"https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap\" rel=\"stylesheet\"> \n  <style>\n    body{\n            font-family: 'Raleway', sans-serif;\n    }\n    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */\n    .row.content {height: 1500px}\n    \n    /* Set gray background color and 100% height */\n    .sidenav {\n      background-color: #f1f1f1;\n      height: 100%;\n    }\n    \n    /* Set black background color, white text and some padding */\n    header {\n      background-color: #333;\n      color: white;\n      padding: 15px;\n    }\n    \n    img.mydiv {\n        display: block;\n        margin-left: auto;\n        margin-right: auto;\n    }\n    \n    p.logotext{\n        text-align: center\n    }\n    span.cid{\n        font-family: 'Cutive Mono', monospace;\n        background-color: #d1d1d1;\n    }\n    /* On small screens, set height to 'auto' for sidenav and grid */\n    @media screen and (max-width: 767px) {\n      .sidenav {\n        height: auto;\n        padding: 15px;\n      }\n      .row.content {height: auto;} \n    }\n  </style>\n</head>\n<body>\n<header>\n<div class=\"container-fluid\">\n    <div class=\"row\">\n        <div class=\"col-sm-5 text-right\">\n            <a href=\"http://localhost:1000/register\">register</a>\n        </div>\n        <div class=\"col-sm-2\">\n              <img class=\"mydiv\" src=\"http://localhost:1000/horcrux_logo.png\" height=\"64\" width=\"64\">\n              <p class=\"logotext\">HORCRUX</p>\n        </div>\n        <div class=\"col-sm-5 text-left\">\n            <a href=\"http://localhost:1000/login\">test</a>\n        </div>\n    </div>\n\n\n</div>\n</header>\n<div class=\"container-fluid\">\n  <div class=\"row content\">\n    <div class=\"col-sm\"></div>\n    <div class=\"col-sm\">\n        <center>\n        <h2>You have successfully registered an identity with your biometric credentials</h2>\n        <h3>Your DID (decentral identifier) is: </h3>\n        <h3><span class=\"cid\">did:eth3:{{payload}}</span><br/></h3>\n        <h4>Make sure you don't lose it, or your created identity is lost!</h4>\n        </center>\n    </div>\n    <div class=\"col-sm\"></div>\n  </div>\n</div>\n</body>\n</html>\n\n\n\n\n\n\n\n","output":"str","x":420,"y":80,"wires":[["9b904c9a.329478"]]},{"id":"c8b8068a.2bfa28","type":"change","z":"ba170577.9b8a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.ethAccount.address","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["555221f8.2784b"]]},{"id":"729369bf.5652a","type":"subflow:ba170577.9b8a28","z":"7ada6151.0e0478","name":"","env":[],"x":770,"y":1900,"wires":[]},{"id":"49752eb3.d4f78","type":"subflow:fa208c3e.ba661","z":"e5e12e11.00c9c","name":"","env":[],"x":540,"y":1220,"wires":[["d994c54c.7cd6","38c7dacb.474bde"]]},{"id":"d994c54c.7cd6","type":"debug","z":"e5e12e11.00c9c","name":"enrollment pub key","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.keys.enrollmentPublicKey","targetType":"msg","statusVal":"data.keys.enrollmentPublicKey","statusType":"auto","x":850,"y":940,"wires":[]},{"id":"df6d076b.8d0818","type":"function","z":"35d0be4c.21dc9a","name":"","func":"msg.payload = {};\nvar keyPath = \"/issuer-data/keys/\";\nmsg.payload.pubKeyFilePath = keyPath + \"rsa_\" + msg.data.PII.username + \"_public.pem\";\nmsg.payload = \"dgst -sha256 -sign /issuer-data/keys/rsa_issuer_private.pem \" + msg.payload.pubKeyFilePath;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":360,"wires":[["f38cca43.e35058","13db15e5.d9c28a"]]},{"id":"73f629d6.e9ce1","type":"function","z":"35d0be4c.21dc9a","name":"","func":"var {execSync} = global.get('childProcess')\nvar fs = global.get('fs')\nmsg.data.keys.enrollmentPubKeySignature = msg.payload.toString('base64');\n// fs.writeFileSync(\"/tmp/signature-fs-write\", Buffer.from(msg.payload.toString('base64')))\n// msg.payload = msg.payload.toString('base64')\n// execSync(\"base64 /issuer-data/signatures/rsa_8dd7ab5eff274c95fc06c848d45ab08f_signature > /tmp/signature-base64-direct\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":360,"wires":[["4d786850.b0bb18"]]},{"id":"f38cca43.e35058","type":"exec","z":"35d0be4c.21dc9a","command":"openssl ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":800,"y":360,"wires":[["73f629d6.e9ce1","423837cc.824fc"],[],[]]},{"id":"13db15e5.d9c28a","type":"debug","z":"35d0be4c.21dc9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"56e20e1e.216ed","type":"function","z":"35d0be4c.21dc9a","name":"","func":"msg.payload = msg.data.keys.enrollmentPubKey;\nmsg.filename = \"/issuer-data/keys/rsa_\" + msg.data.PII.username + \"_public.pem\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":360,"wires":[["3ff942df.83579e"]]},{"id":"3ff942df.83579e","type":"file","z":"35d0be4c.21dc9a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":410,"y":360,"wires":[["df6d076b.8d0818","3064bbe6.23bda4"]]},{"id":"3064bbe6.23bda4","type":"debug","z":"35d0be4c.21dc9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":140,"wires":[]},{"id":"4d786850.b0bb18","type":"debug","z":"35d0be4c.21dc9a","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":140,"wires":[]},{"id":"8fb235cb.43ef58","type":"debug","z":"c45e37f.502d348","name":"didDocAssembly","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"didDocAssembly","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":80,"wires":[]},{"id":"b5d0e07d.46da3","type":"function","z":"62a7d648.b051e","name":"","func":"msg.tmp = msg.payload;\nmsg.payload = \"dgst -sha256 -sign /data/keys/rsa_\" + msg.data.PII.username + \"_private.pem \" + \"/data/keys/rsa_\" + msg.data.PII.username + \"_public.pem\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":380,"wires":[["63e64d5e.ec90c4","d2c0f9d7.f54cd8"]]},{"id":"63e64d5e.ec90c4","type":"exec","z":"62a7d648.b051e","command":"openssl ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":380,"wires":[["4b676205.1a964c","b856d308.cf89f"],[],[]]},{"id":"4b676205.1a964c","type":"function","z":"62a7d648.b051e","name":"","func":"var fs = global.get('fs')\nmsg.data.keys.enrollmentSignature = msg.payload.toString('base64');\nmsg.payload = msg.tmp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":380,"wires":[[]]},{"id":"d2c0f9d7.f54cd8","type":"debug","z":"62a7d648.b051e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":80,"wires":[]},{"id":"b856d308.cf89f","type":"debug","z":"62a7d648.b051e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"1cde32c0.942b4d","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2470,"y":240,"wires":[]},{"id":"a3575f3a.4589e8","type":"subflow:62a7d648.b051e","z":"e5e12e11.00c9c","name":"","env":[],"x":2230,"y":540,"wires":[["1cde32c0.942b4d","3538295.16ed0d6","bc9ca57c.f8642"]]},{"id":"a9c3ea3c.49ee28","type":"comment","z":"e5e12e11.00c9c","name":"http303 -> future networked comms","info":"","x":2700,"y":280,"wires":[]},{"id":"17271154.19c9c7","type":"function","z":"13bbe636.51c542","name":"sanitize","func":"delete msg.didDocAssembly;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":120,"wires":[[]]},{"id":"c31bd851.f0a0e","type":"comment","z":"35d0be4c.21dc9a","name":"old ibv signing flow","info":"","x":210,"y":860,"wires":[]},{"id":"16fabc47.c7aa4c","type":"debug","z":"e469f3cb.fc7cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"97640841.78e62","type":"subflow:62a7d648.b051e","z":"e469f3cb.fc7cc","name":"generate enrollment signature","env":[],"x":470,"y":360,"wires":[["16fabc47.c7aa4c","e0da3934.ce0a88"]]},{"id":"da44d674.f639d8","type":"function","z":"e469f3cb.fc7cc","name":"","func":"const md5 = global.get('md5');\nmsg.data.PII = {};\nmsg.data.PII.username = md5(msg.req.files[0].buffer);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":360,"wires":[["97640841.78e62"]]},{"id":"38c7dacb.474bde","type":"subflow:e469f3cb.fc7cc","z":"e5e12e11.00c9c","name":"","env":[],"x":920,"y":1220,"wires":[["424e7f8e.0498b8","dc2ef71d.fba6d"]]},{"id":"424e7f8e.0498b8","type":"debug","z":"e5e12e11.00c9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":940,"wires":[]},{"id":"e0da3934.ce0a88","type":"function","z":"e469f3cb.fc7cc","name":"sanitize","func":"delete msg.filename;\ndelete msg.rc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":360,"wires":[[]]},{"id":"cc09ba2e.5d9298","type":"function","z":"8ad42719.c6583","name":"sanitize msg","func":"// for each IBV\nfor(var i=0; i<msg.data.ibvs.count; i++){\n    msg.data.ibvs[i].secondShare = msg.data.ibvs[i].secondShare.toString('base64');\n    delete msg.data.ibvs[i].firstShare;\n    delete msg.data.ibvs[i].randomBuffer;\n    delete msg.data.ibvs[i].file;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":160,"wires":[["59cb064a.0cfdf8"]]},{"id":"b9ec9e33.810de8","type":"debug","z":"eb92265a.6276e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":220,"wires":[]},{"id":"d184e05c.89d46","type":"function","z":"eb92265a.6276e","name":"generate randomized sessionID","func":"msg.data.session = {};\nmsg.data.session.id = Math.floor(Math.random() * Number.MAX_SAFE_INTEGER);\nflow.get(\"sessionReq2verificationState\")[msg.data.session.id] = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":440,"wires":[["4b4bd4cd.bf81c4","7f7e9f97.207ea"]]},{"id":"7f7e9f97.207ea","type":"debug","z":"eb92265a.6276e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"6ae45de8.895a34","type":"function","z":"77afa456.4cd374","name":"request did-associated transactions via etherscan","func":"const fetch = global.get('fetch');\nlet requestBaseUrl = \"https://api-ropsten.etherscan.io/api?module=account&action=txlist&address=\";\nlet address = msg.data.did.id;\nlet blocks = \"&sort=asc\";\nlet apikey = \"&apikey=61IV934R4HN3IP1H8RE3HTDBX3H6SSZ3BY\"\nlet fullRequest = requestBaseUrl + address + blocks + apikey;\nmsg.payload = await fetchTransactions(fullRequest);\nreturn msg;\n\nasync function fetchTransactions(url){\n    const res = await fetch(url);\n    const resJSON = await res.json();\n    return resJSON;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":440,"wires":[["4e0175b3.7679d4"]]},{"id":"a7280462.201bd","type":"comment","z":"e5e12e11.00c9c","name":"authentication flow part 1: \\n present did","info":"","x":210,"y":1120,"wires":[]},{"id":"a0fb67cb.b05f58","type":"comment","z":"e5e12e11.00c9c","name":"registration flow","info":"","x":240,"y":460,"wires":[]},{"id":"e4262a2a.55ef1","type":"function","z":"faab45d6.9c06a8","name":"","func":"msg.filename = \"/issuer-data/keys/rsa_issuer_public.pem\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":380,"wires":[["bdcff567.046328","7cb5772b.2ed698"]]},{"id":"bdcff567.046328","type":"file in","z":"faab45d6.9c06a8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":380,"wires":[["501564ce.e78be4","b946b268.f22bf8"]]},{"id":"b946b268.f22bf8","type":"debug","z":"faab45d6.9c06a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"7cb5772b.2ed698","type":"debug","z":"faab45d6.9c06a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":80,"wires":[]},{"id":"8a6b904f.b0c95","type":"subflow:faab45d6.9c06a8","z":"6143b252.c10a34","x":620,"y":540,"wires":[["5893c6ed.e165a","7a53cf5e.34e328"]]},{"id":"67017bdf.c5e104","type":"subflow:44482c87.21495c","z":"c45e37f.502d348","name":"","env":[],"x":370,"y":540,"wires":[["17ffd602.6fbaf2","b764120f.0c043"]]},{"id":"614f1122.f87e7","type":"function","z":"44482c87.21495c","name":"send transaction to new acc","func":"const web3 = flow.get(\"flow-web3\");\nvar acc = flow.get(\"flow-acc\");\nsendETHtoNewAccount();\nreturn msg;\n\nfunction createEmptyTransactionObject(){\n    // Ropsten --> chainId = 3\n    return {\n        \"from\": \"0x0\",\n        \"to\": \"0x0\",\n        \"value\": \"0\",\n        \"gas\": 21000,\n        \"chainId\": 3\n    };\n}\nfunction sendETHtoNewAccount(){\n    var trans = createEmptyTransactionObject();\n    trans.from = web3.eth.accounts.wallet[0].address;\n    trans.to = acc.address;\n    trans.value = web3.utils.toHex(1); \n    trans.gas = 21000;\n    web3.eth.accounts.wallet[0].signTransaction(trans).then(signedTx => web3.eth.sendSignedTransaction(signedTx.rawTransaction)).then(receipt => console.log(\"Transaction receipt: \", receipt)).catch(err => console.log(err));\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":540,"wires":[[]]},{"id":"f5d4ad19.515cf8","type":"debug","z":"c45e37f.502d348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"didDoc","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":120,"wires":[]},{"id":"b764120f.0c043","type":"subflow:13bbe636.51c542","z":"c45e37f.502d348","name":"","env":[],"x":670,"y":540,"wires":[["8fb235cb.43ef58"],["f5d4ad19.515cf8","f622ebc3.1d30e8"]]},{"id":"71e5927e.e77694","type":"debug","z":"7ada6151.0e0478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":1200,"wires":[]},{"id":"17c73571.e7ca5b","type":"inject","z":"7ada6151.0e0478","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1200,"wires":[["4cb5b121.e450c8"]]},{"id":"4cb5b121.e450c8","type":"function","z":"7ada6151.0e0478","name":"","func":"var did2cid = flow.get('did2cid');\nvar issPubKeys = flow.get('issPubKeys');\n\nmsg.test = {};\nmsg.test.did2cid = did2cid;\nmsg.test.issPubKeys = issPubKeys;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1200,"wires":[["71e5927e.e77694"]]},{"id":"7a53cf5e.34e328","type":"debug","z":"6143b252.c10a34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"9032fbd8.8c61c8","type":"function","z":"a7d1e4ed.a424c","name":"prep: issPubKeys","func":"msg.path = \"/bops-data/ipfs/state/\"\nmsg.filename = msg.path + \"issPubKeys\";\nmsg.payload = msg.data.ipns.issPubKeys;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":300,"wires":[["6c8739f1.16c4a8","6ba6fbc5.94b924","1d986e26.702d52"]]},{"id":"bf18c026.e62e28","type":"comment","z":"7ada6151.0e0478","name":"testing for accounting data-structures","info":"","x":200,"y":1160,"wires":[]},{"id":"6c8739f1.16c4a8","type":"file","z":"a7d1e4ed.a424c","name":"save issPubKeys","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":550,"y":300,"wires":[["4d64335.a8607cc"]]},{"id":"4d64335.a8607cc","type":"function","z":"a7d1e4ed.a424c","name":"prep: did2cid","func":"msg.filename = msg.path + \"did2cid\";\nmsg.payload = msg.data.ipns.did2cid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":300,"wires":[["bb86dd26.a47ef8","9f6ad310.eda588","913c4e37.4c49b8"]]},{"id":"bb86dd26.a47ef8","type":"file","z":"a7d1e4ed.a424c","name":"save did2cid","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1010,"y":300,"wires":[["1eed12c7.5b394d"]]},{"id":"71499dd6.0b9634","type":"debug","z":"7ada6151.0e0478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":1640,"wires":[]},{"id":"2fb65425.a326bc","type":"subflow:a7d1e4ed.a424c","z":"7ada6151.0e0478","name":"","env":[],"x":1360,"y":1840,"wires":[["71499dd6.0b9634","76a089d5.3803b"]]},{"id":"1eed12c7.5b394d","type":"function","z":"a7d1e4ed.a424c","name":"sanitize","func":"delete msg.filename;\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":300,"wires":[[]]},{"id":"6ba6fbc5.94b924","type":"debug","z":"a7d1e4ed.a424c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"1d986e26.702d52","type":"debug","z":"a7d1e4ed.a424c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"9f6ad310.eda588","type":"debug","z":"a7d1e4ed.a424c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":60,"wires":[]},{"id":"913c4e37.4c49b8","type":"debug","z":"a7d1e4ed.a424c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":100,"wires":[]},{"id":"de95f3d3.b3ee98","type":"debug","z":"7ada6151.0e0478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":1640,"wires":[]},{"id":"76a089d5.3803b","type":"function","z":"7ada6151.0e0478","name":"","func":"const ipfs = flow.get('ipfsinstance');\nconst ipfsimp = global.get('ipfsimp');\n\n/*const file = [{\n    path: '/state/did2cid.txt',\n    content: '/bops-data/ipfs/state/did2cid'\n}]\nawait ipfs.files.write(\"/state/did2cid\", \"/bops-data/ipfs/state/did2cid\", { create: true })\n*/\n\n\nawait directoryState();\n\nconsole.info(await ipfs.object.stat(msg.x.cid))\nconsole.info(await ipfs.object.stat(msg.z2.cid))\nreturn msg;\n\nasync function directoryState(){\n    msg.z = await ipfs.files.ls(\"/state\");\n    msg.z2 = await ipfs.files.stat(\"/state\");\n    await msg.z\n    await msg.z2\n}","outputs":1,"noerr":0,"initialize":"// setTimeout(stateTracking, 2000)\n\nfunction stateTracking(){\n    const ipfs = flow.get('ipfsinstance');\n    ipfs.files.mkdir(\"/state\");    \n}\n","finalize":"","x":1640,"y":1840,"wires":[["de95f3d3.b3ee98"]]},{"id":"882dfee2.c9e65","type":"file","z":"108634fb.558b7b","name":"persist didDoc locally","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":580,"y":540,"wires":[["4fc0f51b.69ef34"]]},{"id":"4d5efb4a.ab7194","type":"function","z":"108634fb.558b7b","name":"prep: persist didDoc locally","func":"let path = \"/bops-data/ipfs/didDocs/\";\nlet filename = \"didDoc_\" + msg.data.PII.username;\nmsg.filename = path + filename;\nmsg.payload = msg.didDoc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":540,"wires":[["882dfee2.c9e65"]]},{"id":"1a5e01f9.a9059e","type":"debug","z":"7ada6151.0e0478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":80,"wires":[]},{"id":"849b907e.3b3b6","type":"comment","z":"7ada6151.0e0478","name":"discontinued due to broken jsipfs api","info":"","x":200,"y":1800,"wires":[]},{"id":"afee04f9.75111","type":"subflow:108634fb.558b7b","z":"7ada6151.0e0478","name":"","env":[],"x":460,"y":400,"wires":[["8923b575.074b","4a66afe4.638238","b74d798e.bbb868"]]},{"id":"592ff300.9726c4","type":"function","z":"7ada6151.0e0478","name":"init flow vars","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nconst { execSync } = global.get('childProcess');\n\n// create empty data structures for: \n// did2cid              ->  mapping (dictionary)\n// issPubKeys           ->  array (list)\n// ipns-version-counter ->  Number\nflow.set([\"did2cid\", \"issPubKeys\"],[{},{}]);\nglobal.set(\"bops-eth-to-ipns\", {});\nsetTimeout(createKeys, 7000)\n\nfunction createKeys(){\n    // create ipns keys\n    let keys = execSync(\"jsipfs key list\").toString()\n    if(!keys.includes(\"bops1\")){\n        execSync(\"jsipfs key gen bops1\")\n        console.log(\"jsipfs: created bops1 key\")\n    }\n    if(!keys.includes(\"bops2\")){\n        execSync(\"jsipfs key gen bops2\")\n        console.log(\"jsipfs: created bops2 key\")\n    }\n    if(keys.includes(\"bops2\") && keys.includes(\"bops1\")){\n        console.log(\"BOPS/IPFS-Interfacing: init flow ars: jsipfs -> keys bops1 and bops2 already exist - skipping creation\")\n    }\n}","finalize":"","x":110,"y":120,"wires":[["ea710baf.6bc8a"]]},{"id":"4a66afe4.638238","type":"function","z":"7ada6151.0e0478","name":"run-time ipns state accounting","func":"// fetch our data structs for state persistence\nvar did2cid = flow.get('did2cid');\nvar issPubKeys = flow.get('issPubKeys');\n\n// update data structs accordingly\ndid2cid[msg.data.ethAccount.address] = msg.data.didDoc.cid;\nissPubKeys[msg.data.keys.issName] = msg.data.keys.issPubKey;\n\n// export in order to survive subflow context switch\nmsg.data.ipns = {};\nmsg.data.ipns.did2cid = did2cid;\nmsg.data.ipns.issPubKeys = issPubKeys;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":400,"wires":[["260dde29.1f96ea","6df77892.8361e"]]},{"id":"260dde29.1f96ea","type":"debug","z":"7ada6151.0e0478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":80,"wires":[]},{"id":"1684726e.d0f7ae","type":"comment","z":"7ada6151.0e0478","name":"self-executing init","info":"","x":100,"y":80,"wires":[]},{"id":"8923b575.074b","type":"debug","z":"7ada6151.0e0478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"6df77892.8361e","type":"subflow:a7d1e4ed.a424c","z":"7ada6151.0e0478","name":"","env":[],"x":1220,"y":400,"wires":[["81d9f139.1b5608","1743052b.075b4b"]]},{"id":"81d9f139.1b5608","type":"debug","z":"7ada6151.0e0478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":80,"wires":[]},{"id":"edf18422.13edb","type":"function","z":"1727a89d.018b47","name":"recursively add state dir","func":"const { execSync } = global.get('childProcess');\nconst CID = global.get('cids');\n\n// cmd prep\nlet path = \"/bops-data/ipfs/state\"\nlet ipfsFunc = \"jsipfs add -Qr \";\nlet command = ipfsFunc + path;\n\n// cmd exec\nvar result = execSync(command, (error, stdout, stderr) => {\n  if (error) {\n    console.error(`exec error: ${error}`);\n    return;\n  }\n  console.log(`stdout: ${stdout}`);\n  console.error(`stderr: ${stderr}`);\n}, {stdio: 'inherit'});\n\n// strip newline resulting string and append to msg object\nlet newbuff = Buffer.alloc(46)\nresult.copy(newbuff,0,0,46)\nmsg.data.ipns.dirHash = newbuff.toString()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":300,"wires":[["c9e2485a.267288","dbf61b41.abfb18"]]},{"id":"c9e2485a.267288","type":"debug","z":"1727a89d.018b47","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"dbf61b41.abfb18","type":"function","z":"1727a89d.018b47","name":"publish","func":"const { execSync } = global.get('childProcess');\n\n// execute publishing action\nlet command = \"jsipfs name publish \"\nlet options =\"--key \" + msg.data.bopsName + \" \"\nlet path = msg.data.ipns.dirHash\nlet fqcmd = command + options + path\n\n// execute and postprocess\nconst resString = execSync(fqcmd).toString()\nlet start = resString.indexOf(\"Qm\");\nlet end = resString.indexOf(\":\");\nlet res = resString.slice(start, end);\n\n// export\nvar eth2ipns = global.get(\"bops-eth-to-ipns\")\neth2ipns[msg.data.bops.ethAddress.toLowerCase()] = res;\nglobal.set(\"bops-eth-to-ipns\", eth2ipns)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":300,"wires":[["991b6d3b.3d78e8"]]},{"id":"ea710baf.6bc8a","type":"debug","z":"7ada6151.0e0478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":130,"y":160,"wires":[]},{"id":"36c60492.13ae44","type":"function","z":"c45e37f.502d348","name":"init flow vars","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"bops-instance-name\", \"bops1\")","finalize":"","x":210,"y":620,"wires":[[]]},{"id":"79ab927e.ecf39c","type":"comment","z":"c45e37f.502d348","name":"self-executing init","info":"","x":220,"y":580,"wires":[]},{"id":"8883b4df.2fde38","type":"function","z":"77afa456.4cd374","name":"init flow vars","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nconst Web3 = global.get('webjs');           // full featured js-interface to ethereum apis\nconst web3 = new Web3(new Web3.providers.WebsocketProvider(\"wss://ropsten.infura.io/ws/v3/9b27aa73a112468eb2fb3624cf8b14b9\"));\nflow.set(\"flow-web3\", web3);\nflow.set(\"bops-instance-name\", \"bops2\")\ninstantiateBOPSWallet()\n\nfunction instantiateBOPSWallet(){\n    // BOPS Account is preexistent, cause it is eventually required to have ETH\n    // BOPS wallet[0] => Bops Account\n    const bopsEthAddress = \"0xf56a7f720d2917F24Ef1f35b8C76D973c5796800\";\n    const bopsPrivKey = \"0x09ed6c1240f33cdb972482c0d4d6082ef6a5ab7b93b918b7284fbc21646c9a49\";\n    flow.set(\"bops-eth\", bopsEthAddress);\n    web3.eth.accounts.wallet.clear();\n    web3.eth.accounts.wallet.add(bopsPrivKey); \n}\n\n","finalize":"","x":110,"y":80,"wires":[["4e399d25.b1ba84"]]},{"id":"6422e556.03e2c4","type":"comment","z":"77afa456.4cd374","name":"self-executing init","info":"","x":100,"y":40,"wires":[]},{"id":"f622ebc3.1d30e8","type":"function","z":"c45e37f.502d348","name":"append bops-origin","func":"msg.data.bops.name = flow.get(\"bops-instance-name\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":540,"wires":[["7e11a447.a1b3dc"]]},{"id":"991b6d3b.3d78e8","type":"debug","z":"1727a89d.018b47","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"1743052b.075b4b","type":"subflow:1727a89d.018b47","z":"7ada6151.0e0478","name":"","env":[],"x":1630,"y":400,"wires":[]},{"id":"3d87af6b.b2bcb","type":"function","z":"77afa456.4cd374","name":"success: postprocess etherscan-result and append bops-name","func":"msg.data.authreq = {}\nmsg.data.authreq.regBopsEth = msg.payload.result[msg.payload.result.length - 1].from;\nmsg.data.authreq.authBops = flow.get(\"bops-instance-name\")\nmsg.payload = {};\nmsg.payload.regBopsEth = msg.data.authreq.regBopsEth\nmsg.payload.authBops = msg.data.authreq.authBops\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":400,"wires":[["3ff837b.6511fc8"]]},{"id":"f3771ba0.74c87","type":"link out","z":"77afa456.4cd374","name":"","links":["ecafb283.ad0258"],"x":1755,"y":400,"wires":[]},{"id":"d03f84c9.200b4","type":"comment","z":"7ada6151.0e0478","name":"registration flow","info":"","x":120,"y":360,"wires":[]},{"id":"ecafb283.ad0258","type":"link in","z":"7ada6151.0e0478","name":"","links":["f3771ba0.74c87"],"x":195,"y":920,"wires":[["70c21b82.044fc4","147a635.5044b1d"]]},{"id":"cd036ac1.1a85e8","type":"comment","z":"7ada6151.0e0478","name":"authentication flow","info":"","x":130,"y":880,"wires":[]},{"id":"4e399d25.b1ba84","type":"debug","z":"77afa456.4cd374","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":130,"y":120,"wires":[]},{"id":"70c21b82.044fc4","type":"debug","z":"7ada6151.0e0478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":600,"wires":[]},{"id":"147a635.5044b1d","type":"function","z":"7ada6151.0e0478","name":"resolve bops_eth_addr to corresponding ipns_hash","func":"let key = msg.data.authreq.regBopsEth;\nmsg.data.authreq.regBopsStateIpnsAddr =  global.get(\"bops-eth-to-ipns\")[key]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":920,"wires":[["4d3a8484.3cc8bc","5b2942bb.0a9bac"]]},{"id":"a48a1d09.b3bc08","type":"function","z":"44482c87.21495c","name":"init subflow vars","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nconst Web3 = global.get('webjs');           // full featured js-interface to ethereum apis\nconst web3 = new Web3(new Web3.providers.WebsocketProvider(\"wss://ropsten.infura.io/ws/v3/9b27aa73a112468eb2fb3624cf8b14b9\"));\nflow.set(\"flow-web3\", web3);\n\ninstantiateBOPSWallet()\n\nfunction instantiateBOPSWallet(){\n    // BOPS Account is preexistent, cause it is eventually required to have ETH\n    // BOPS wallet[0] => Bops Account\n    const bopsEthAddress = \"0x9B9f73DD27F630291dB86704CbA29a8D9958bef8\";\n    const bopsPrivKey = \"0xbb6b979db6eb7ca208d3a32bb748a5e842dffa7f9956dd1e374a8080b7c3410a\";\n    flow.set(\"bops-eth\", bopsEthAddress);\n    web3.eth.accounts.wallet.clear();\n    web3.eth.accounts.wallet.add(bopsPrivKey); \n}","finalize":"","x":100,"y":340,"wires":[["114baaaf.3bfa2d"]]},{"id":"6ffa4313.0b32bc","type":"comment","z":"44482c87.21495c","name":"init","info":"","x":130,"y":300,"wires":[]},{"id":"fb623376.c0d4c8","type":"function","z":"44482c87.21495c","name":"append ethAddress to msg","func":"msg.data.bops = {};\nmsg.data.bops.ethAddress = flow.get(\"bops-eth\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":540,"wires":[["4226abaf.68d094","2816218a.42d6be"]]},{"id":"4fc0f51b.69ef34","type":"function","z":"108634fb.558b7b","name":"add didDoc to ipfs & append resultin cid","func":"const { execSync } = global.get('childProcess');\n\n// cmd prep\nlet ipfsFunc = \"jsipfs add -Q \";\nlet command = ipfsFunc + msg.filename;\n\n// restructuring for better order\nmsg.data.didDoc = {};\nmsg.data.didDoc.content = msg.didDoc;\nmsg.data.didDoc.cid = execSync(command).toString().slice(0,-1);\ndelete msg.didDoc;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":540,"wires":[[]]},{"id":"114baaaf.3bfa2d","type":"debug","z":"44482c87.21495c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":130,"y":380,"wires":[]},{"id":"4e0175b3.7679d4","type":"switch","z":"77afa456.4cd374","name":"success?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":860,"y":440,"wires":[["3d87af6b.b2bcb","96d52c42.621808"],["3b5b6ab2.ce8f76","3be4de9a.e6ea7a"]]},{"id":"8b6a1384.c38ff8","type":"http response","z":"6a19c01a.0c691","name":"","statusCode":"200","headers":{},"x":400,"y":80,"wires":[]},{"id":"884341ea.cdf0a","type":"template","z":"6a19c01a.0c691","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The transaction associated with the DID: <br>\n <ul>\n  <li>does not either exist</li>\n  <li>or does not yet exist (has not yet been officially confirmed and resides in the blockchain ledger at the moment)</li>\n</ul> ","output":"str","x":200,"y":80,"wires":[["8b6a1384.c38ff8"]]},{"id":"96d52c42.621808","type":"debug","z":"77afa456.4cd374","name":"[etherscan] success","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1100,"y":220,"wires":[]},{"id":"3b5b6ab2.ce8f76","type":"debug","z":"77afa456.4cd374","name":"[etherscan] fail","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1080,"y":280,"wires":[]},{"id":"3be4de9a.e6ea7a","type":"subflow:6a19c01a.0c691","z":"77afa456.4cd374","x":1170,"y":480,"wires":[]},{"id":"4d3a8484.3cc8bc","type":"debug","z":"7ada6151.0e0478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":600,"wires":[]},{"id":"5b2942bb.0a9bac","type":"function","z":"7ada6151.0e0478","name":"resolve ipns_hash to ipfs_hash","func":"const { execSync } = global.get('childProcess');\nvar res = execSync(\"jsipfs name resolve \" + msg.data.authreq.regBopsStateIpnsAddr).toString()\nmsg.data.authreq.regBopsStateIpfsAddr = res.slice(0,res.length-1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":920,"wires":[["7f48f5f3.ed86b4","38a66022.6013c8"]]},{"id":"7f48f5f3.ed86b4","type":"debug","z":"7ada6151.0e0478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":600,"wires":[]},{"id":"cbf41864.22e398","type":"comment","z":"7ada6151.0e0478","name":"querying local node, \\n due to ipns changes \\n not being propagated","info":"","x":900,"y":860,"wires":[]},{"id":"38a66022.6013c8","type":"function","z":"7ada6151.0e0478","name":"fetch bops1_accounting docs and resolve didDocCid","func":"const { execSync } = global.get('childProcess');\n\n// fetch and append bops state tracking files of the registration bops\nmsg.data.authreq.regBopsState = JSON.parse(execSync(\"jsipfs cat \" + msg.data.authreq.regBopsStateIpfsAddr + \"/did2cid\"))\nmsg.data.authreq.regBopsIssPubKeys = JSON.parse(execSync(\"jsipfs cat \" + msg.data.authreq.regBopsStateIpfsAddr + \"/issPubKeys\"))\n\n// postprocess\nmsg.data.authreq.didDocCid = msg.data.authreq.regBopsState[msg.data.did.id]\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":920,"wires":[["27bc549d.620a1c","3512dbd5.76d644"]]},{"id":"27bc549d.620a1c","type":"debug","z":"7ada6151.0e0478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":600,"wires":[]},{"id":"3512dbd5.76d644","type":"function","z":"7ada6151.0e0478","name":"fetch and append didDoc","func":"const { execSync } = global.get('childProcess');\nmsg.data.authreq.didDoc = JSON.parse(execSync(\"jsipfs cat \" + msg.data.authreq.didDocCid))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":920,"wires":[["f17bd955.c0b2e8","4ce950ec.6a6788"]]},{"id":"f17bd955.c0b2e8","type":"debug","z":"7ada6151.0e0478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1930,"y":600,"wires":[]},{"id":"4ce950ec.6a6788","type":"link out","z":"7ada6151.0e0478","name":"","links":["feb8de94.e9ab18"],"x":1915,"y":920,"wires":[]},{"id":"feb8de94.e9ab18","type":"link in","z":"77afa456.4cd374","name":"","links":["4ce950ec.6a6788"],"x":235,"y":860,"wires":[["ace12ae5.8e76d8","7aadcddd.0bc9ec"]]},{"id":"4b9521b8.f63d8","type":"link out","z":"77afa456.4cd374","name":"","links":["1633e886.1a9637"],"x":1835,"y":820,"wires":[]},{"id":"c81d1566.13af88","type":"function","z":"13d5c25a.a21b76","name":"verify iss","func":"const { execSync } = global.get('childProcess');\n\n// prep\nlet path = msg.verify.path\nlet res = {}\n\n// cycle through known issuer keys of the associated bops\nlet entries = Object.entries(msg.data.authreq.regBopsIssPubKeys)\nfor (const [key, value] of entries){\n    res[key] = execSync(\"openssl dgst -sha256 -verify \" + path + \"pks/\" + key +\" -signature \" + path + \"signature \" + path + \"enrollmentPubKey\").toString()\n}\n\n// check if openssl output suggests a verified issuer\nlet verified = false\nlet issuer = \"none\"\nfor (const [key, value] of  Object.entries(res)){\n    if(value.includes(\"OK\")){\n        issuer = key\n        verified = true\n        break\n    }\n}\n\n// export verification result\nmsg.verify.issVerification = {}\nmsg.verify.issVerification.verifier = issuer\nmsg.verify.issVerification.verified = verified\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":360,"wires":[["4e18b646.ad5308","9deda061.0c5b1","73cd48aa.ae24e","acff057a.91c2f8"]]},{"id":"1633e886.1a9637","type":"link in","z":"e5e12e11.00c9c","name":"","links":["4b9521b8.f63d8"],"x":295,"y":1540,"wires":[["5fc967d.d2e1c18","9386ec51.1e7268"]]},{"id":"57284780.01b078","type":"link out","z":"e5e12e11.00c9c","name":"","links":["54e7b583.b0f774"],"x":1175,"y":1540,"wires":[]},{"id":"5fc967d.d2e1c18","type":"function","z":"e5e12e11.00c9c","name":"solve challenge","func":"var {execSync} = global.get('childProcess')\nvar fs = global.get('fs')\n\n// prep\nlet challengePath = \"/data/temp/\"\nlet challengeFilename = \"challenge_for_\" + msg.data.did.id \nlet challengeLocation = challengePath + challengeFilename\n\nlet privKeyPath = \"/data/keys/\"\nlet privKeyFilename = \"rsa_\" + msg.data.did.id + \"_private.pem\"\nlet privKeyLocation = privKeyPath + privKeyFilename\n\n// write challenge file\nfs.writeFileSync(challengeLocation, Buffer.from(msg.challenge.nonce))\n\n// sign the nonce (this is the challenge)\nres = execSync(\"openssl dgst -\" + msg.challenge.dgst + \" -sign \" + privKeyLocation + \" \" + challengeLocation) \n\n// export result\nmsg.challenge.answer = res.toString('base64')\n\n// remove challenge file\nexecSync(\"rm \" + challengeLocation)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1540,"wires":[["2e83d439.38f01c","3449cc0f.22cc94","80a5fae8.328e1"]]},{"id":"54e7b583.b0f774","type":"link in","z":"77afa456.4cd374","name":"","links":["57284780.01b078","e7362af3.50d27"],"x":235,"y":1260,"wires":[["f04f1e44.0b9ff8","20f11f15.766bc"]]},{"id":"5e735378.f19cc4","type":"link out","z":"77afa456.4cd374","name":"","links":["5e726b78.b3176c"],"x":1775,"y":1180,"wires":[]},{"id":"b0a2d19c.c6dc48","type":"function","z":"9561475a.183848","name":"execute openssl-based challenge verification","func":"var {execSync} = global.get('childProcess')\nvar fs = global.get('fs')\n\n// prep\nlet path = \"/bops2-data/temp/\" + msg.data.did.id + \"/\"\nfs.mkdirSync(path)\n\nlet challengeFileFilename = \"challenge\"\nlet challengeFileLocation = path + challengeFileFilename\n\nlet challengeAnswerFilename = \"challenge_answer\"\nlet challengeAnswerLocation = path + challengeAnswerFilename\n\nlet enrollmentPubKeyFilename = \"enrollmentPubKey\"\nlet enrollmentPubKeyLocation = path + enrollmentPubKeyFilename \n\n// write challenge files\nfs.writeFileSync(challengeFileLocation, msg.challenge.nonce)\nfs.writeFileSync(challengeAnswerLocation, Buffer.from(msg.challenge.answer, 'base64'))\nfs.writeFileSync(enrollmentPubKeyLocation, msg.data.keys.enrollmentPublicKey)\n\n// verify challenge\nmsg.challenge.verificationResult = execSync(\"openssl dgst -\" + msg.challenge.dgst + \" -verify \" + enrollmentPubKeyLocation + \" -signature \" + challengeAnswerLocation + \" \" + challengeFileLocation).toString().includes(\"OK\")\n\n// delete\nexecSync(\"rm -rf \" + path)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":360,"wires":[["6323abb8.a89c24","211aff46.f9267"]]},{"id":"5e726b78.b3176c","type":"link in","z":"eb92265a.6276e","name":"","links":["5e735378.f19cc4"],"x":235,"y":780,"wires":[["6bbad54e.82692c","86c738f2.9665c"]]},{"id":"6bbad54e.82692c","type":"function","z":"eb92265a.6276e","name":"","func":"flow.get(\"sessionReq2verificationState\")[msg.data.session.id] = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":780,"wires":[["7865ad76.8c3a64","9b9f7c89.605e88"]]},{"id":"9a5cea10.f488f8","type":"switch","z":"77afa456.4cd374","name":"fully verified?","property":"verify.combinedVerificationStatus","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":860,"wires":[["a8feec81.49e52"],["24514271.9c0386"]]},{"id":"b2654425.f407c","type":"http response","z":"8ee504b8.c37fc","name":"","statusCode":"","headers":{},"x":390,"y":80,"wires":[]},{"id":"b6210b77.77d9","type":"template","z":"8ee504b8.c37fc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your authentication request failed at the signature verification stage.","output":"str","x":200,"y":80,"wires":[["b2654425.f407c"]]},{"id":"ace12ae5.8e76d8","type":"debug","z":"77afa456.4cd374","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"4e18b646.ad5308","type":"debug","z":"13d5c25a.a21b76","name":"issVerification: issuer","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"verify.issVerification.verifier","targetType":"msg","statusVal":"payload","statusType":"auto","x":440,"y":200,"wires":[]},{"id":"6323abb8.a89c24","type":"debug","z":"9561475a.183848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"f04f1e44.0b9ff8","type":"debug","z":"77afa456.4cd374","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":1000,"wires":[]},{"id":"3ff837b.6511fc8","type":"function","z":"77afa456.4cd374","name":"sanitize","func":"delete msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":400,"wires":[["f3771ba0.74c87"]]},{"id":"76808f41.26bc8","type":"function","z":"77afa456.4cd374","name":"sanitize","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":820,"wires":[["4b9521b8.f63d8"]]},{"id":"f005d949.4ff15","type":"comment","z":"77afa456.4cd374","name":"authenticaton flow part 1: \\n resolve did & didDoc","info":"","x":150,"y":380,"wires":[]},{"id":"96c86bc9.2ab2e","type":"comment","z":"77afa456.4cd374","name":"authentication flow part 2: \\n verify signatures","info":"","x":150,"y":800,"wires":[]},{"id":"14dd87f7.261dc","type":"comment","z":"77afa456.4cd374","name":"authentication flow part 3: \\n verify challenge & \\n combine shares","info":"","x":150,"y":1200,"wires":[]},{"id":"3f472ff9.7fdab8","type":"file","z":"6fd37b9a.76a144","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":390,"y":80,"wires":[["bfbacbfe.0a51"]]},{"id":"9d61a5ee.9bc7e","type":"function","z":"6fd37b9a.76a144","name":"","func":"// creating a new namespace to populate\nmsg.verify = {}\nmsg.verify.path = \"/bops2-data/verify/\" + msg.data.did.id + \"/\"\n\n// prep for following file node\nmsg.payload = msg.data.authreq.didDoc.issSignature\nmsg.filename = msg.verify.path + \"signature\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":80,"wires":[["3f472ff9.7fdab8"]]},{"id":"65f1ed9c.fe80f4","type":"subflow:6fd37b9a.76a144","z":"65e74173.b1755","name":"","env":[],"x":190,"y":380,"wires":[["bfcad084.0ed29","64ba8442.7d244c"]]},{"id":"bfcad084.0ed29","type":"debug","z":"65e74173.b1755","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":80,"wires":[]},{"id":"9deda061.0c5b1","type":"debug","z":"13d5c25a.a21b76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":80,"wires":[]},{"id":"64ba8442.7d244c","type":"function","z":"65e74173.b1755","name":"persist pubKeys","func":"var fs = global.get('fs');\nvar {execSync} = global.get('childProcess')\n\nfs.mkdirSync(msg.verify.path + \"pks\")\n// iterate and persist each key with issuer-name as filename\nlet entries = Object.entries(msg.data.authreq.regBopsIssPubKeys)\n\nfor (var [key, value] of entries){\n    fs.writeFileSync(msg.verify.path + \"pks/\" + key, Buffer.from(value));\n}\n\nfs.writeFileSync(msg.verify.path + \"enrollmentPubKey\", Buffer.from(msg.data.keys.enrollmentPublicKey))\nlet appendix = \"echo '' >>\" + msg.verify.path + \"enrollmentPubKey\"\nexecSync(appendix);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":380,"wires":[[]]},{"id":"73cd48aa.ae24e","type":"function","z":"13d5c25a.a21b76","name":"verify enrollment signature","func":"var {execSync} = global.get('childProcess')\n\nlet path = msg.verify.path\n\n// run openssl verification\nexecSync('printf %s \"$(cat ' + path + 'enrollmentPubKey )\" > ' + path + 'enrollmentPubKey')\nlet appendix = \"echo '' >>\" + msg.verify.path + \"enrollmentPubKey\"\nexecSync(appendix);\nres = execSync(\"openssl dgst -sha256 -verify \" + path + \"enrollmentPubKey -signature \" + path + \"enrollmentSignature \" + path + \"enrollmentPubKey\").toString()\n\n// parse verification result\nlet verified = false\nif(res.includes(\"OK\")){\n    verified = true\n}\n\n// export verification result\nmsg.verify.enrollVerification = {}\nmsg.verify.enrollVerification.verified = verified\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":360,"wires":[["58d213a9.72b66c","fd3c6cae.b84398","a16daa32.5d1848","40246a7b.22fb3c"]]},{"id":"bfbacbfe.0a51","type":"function","z":"6fd37b9a.76a144","name":"","func":"// prep for following file node\nmsg.payload = msg.data.authreq.didDoc.enrollmentSignature\nmsg.filename = msg.verify.path + \"enrollmentSignature\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":80,"wires":[["38bdbf7b.4f3a28"]]},{"id":"38bdbf7b.4f3a28","type":"file","z":"6fd37b9a.76a144","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":770,"y":80,"wires":[["33ab476a.50a6b8"]]},{"id":"33ab476a.50a6b8","type":"function","z":"6fd37b9a.76a144","name":"postprocess and sanitize","func":"var {execSync} = global.get('childProcess')\nexecSync(\"base64 -d \" + msg.verify.path + \"signature > \" + msg.verify.path + \"temp_sig && mv \" + msg.verify.path + \"temp_sig \" + msg.verify.path + \"signature\")\nexecSync(\"base64 -d \" + msg.verify.path + \"enrollmentSignature > \" + msg.verify.path + \"temp_esig && mv \" + msg.verify.path + \"temp_esig \" + msg.verify.path + \"enrollmentSignature\")\ndelete msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":80,"wires":[[]]},{"id":"423837cc.824fc","type":"debug","z":"35d0be4c.21dc9a","name":"openssl output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":140,"wires":[]},{"id":"7aadcddd.0bc9ec","type":"subflow:65e74173.b1755","z":"77afa456.4cd374","x":470,"y":860,"wires":[["8ef0f728.9e0e4"]]},{"id":"acff057a.91c2f8","type":"debug","z":"13d5c25a.a21b76","name":"issVerification: status","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"verify.issVerification.verified","targetType":"msg","statusVal":"payload","statusType":"auto","x":440,"y":140,"wires":[]},{"id":"2b062ba.26ca354","type":"exec","z":"2ae2beac.94c142","command":"rm ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":260,"wires":[[],[],[]]},{"id":"3d2792c9.fa0446","type":"function","z":"2ae2beac.94c142","name":"","func":"msg.payload = \"-rf \" + msg.verify.path\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":260,"wires":[["2b062ba.26ca354"]]},{"id":"58d213a9.72b66c","type":"subflow:2ae2beac.94c142","z":"13d5c25a.a21b76","name":"","env":[],"x":760,"y":440,"wires":[]},{"id":"fd3c6cae.b84398","type":"debug","z":"13d5c25a.a21b76","name":"enrollVerification: status","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"verify.enrollVerification.verified","targetType":"msg","statusVal":"verify.enrollVerification.status","statusType":"auto","x":770,"y":140,"wires":[]},{"id":"a16daa32.5d1848","type":"function","z":"13d5c25a.a21b76","name":"issuer verified AND enrollment verified?","func":"msg.verify.combinedVerificationStatus = msg.verify.issVerification.verified && msg.verify.enrollVerification.verified\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":360,"wires":[[]]},{"id":"40246a7b.22fb3c","type":"debug","z":"13d5c25a.a21b76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"a8feec81.49e52","type":"function","z":"77afa456.4cd374","name":"generate challenge","func":"// this is not a csprng, just a prng - should be replaced later on\nlet nonce = Math.random() * Number.MAX_SAFE_INTEGER;\n\nmsg.challenge = {}\nmsg.challenge.dgst = \"sha256\"\nmsg.challenge.nonce = nonce.toString()\nmsg.challenge.alg = \"rsa\"\nmsg.challenge.action = \"signature\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":820,"wires":[["76808f41.26bc8","ed0a8b5a.22a6d8","ff5bf3b6.f6857"]]},{"id":"24514271.9c0386","type":"subflow:8ee504b8.c37fc","z":"77afa456.4cd374","x":1530,"y":900,"wires":[]},{"id":"ed0a8b5a.22a6d8","type":"debug","z":"77afa456.4cd374","name":"challenge","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"challenge","targetType":"msg","statusVal":"challenge","statusType":"auto","x":1680,"y":620,"wires":[]},{"id":"e61ff84f.839cb","type":"debug","z":"77afa456.4cd374","name":"fully verified?","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"verify.combinedVerificationStatus","targetType":"msg","statusVal":"verify.combinedVerificationStatus","statusType":"auto","x":1170,"y":620,"wires":[]},{"id":"8ef0f728.9e0e4","type":"subflow:13d5c25a.a21b76","z":"77afa456.4cd374","name":"","env":[],"x":850,"y":860,"wires":[["9a5cea10.f488f8","e61ff84f.839cb","7176c17e.a3477"]]},{"id":"b948cebb.0ce0e8","type":"comment","z":"e5e12e11.00c9c","name":"authentication flow part 2: \\n solve challenge","info":"","x":210,"y":1480,"wires":[]},{"id":"9386ec51.1e7268","type":"debug","z":"e5e12e11.00c9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":1280,"wires":[]},{"id":"b74d798e.bbb868","type":"link out","z":"7ada6151.0e0478","name":"","links":["69b27df.2e3da84"],"x":755,"y":460,"wires":[]},{"id":"3474d7b9.9b4bd","type":"subflow:ba170577.9b8a28","z":"e5e12e11.00c9c","name":"","env":[],"x":770,"y":700,"wires":[]},{"id":"69b27df.2e3da84","type":"link in","z":"e5e12e11.00c9c","name":"","links":["b74d798e.bbb868"],"x":295,"y":700,"wires":[["71d37bd8.043234"]]},{"id":"71d37bd8.043234","type":"function","z":"e5e12e11.00c9c","name":"change file identifier","func":"var {execSync} = global.get('childProcess')\n\n// prep\nlet path = \"/data/keys/\"\nlet sharePath = \"/data/localstorage/\"\n\n// string portion of filename to change\nlet oldFileId = msg.data.PII.username\nlet newFileId = msg.data.ethAccount.address\n\n// move keys\nexecSync('mv ' + path + 'rsa_' + oldFileId + '_public.pem ' + path + 'rsa_' + newFileId + '_public.pem')\nexecSync('mv ' + path + 'rsa_' + oldFileId + '_private.pem ' + path + 'rsa_' + newFileId + '_private.pem')\n// execSync('mv ' + path + 'rsa2_' + oldFileId + '_public.pem ' + path + 'rsa2_' + newFileId + '_public.pem')\n// execSync('mv ' + path + 'rsa2_' + oldFileId + '_private.pem ' + path + 'rsa2_' + newFileId + '_private.pem')\nexecSync('mv ' + sharePath + 'ibv1_' + oldFileId + '_share_1 ' + sharePath + 'ibv1_' + newFileId + '_share_1')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":700,"wires":[["3474d7b9.9b4bd"]]},{"id":"ca363857.e790f8","type":"comment","z":"e5e12e11.00c9c","name":"registration flow part 2: \\n notify user and change file identifiers","info":"","x":180,"y":640,"wires":[]},{"id":"2e83d439.38f01c","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1280,"wires":[]},{"id":"3449cc0f.22cc94","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"challenge.answer","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1320,"wires":[]},{"id":"211aff46.f9267","type":"switch","z":"9561475a.183848","name":"challenge result verified?","property":"challenge.verificationResult","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":360,"wires":[[],[]]},{"id":"36b5309b.3fd","type":"template","z":"d2e943e0.fa64d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your answer to the challenge was wrong, maybe you're not in posession of the right private key?","output":"str","x":200,"y":80,"wires":[["8aadae2f.3ad158"]]},{"id":"8aadae2f.3ad158","type":"http response","z":"d2e943e0.fa64d","name":"","statusCode":"200","headers":{},"x":400,"y":80,"wires":[]},{"id":"22fa478b.b5e428","type":"subflow:d2e943e0.fa64d","z":"77afa456.4cd374","x":770,"y":1300,"wires":[]},{"id":"20f11f15.766bc","type":"subflow:9561475a.183848","z":"77afa456.4cd374","name":"","env":[],"x":470,"y":1260,"wires":[["d26d5e8.6f2bba","c16128ec.c1ba4"],["22fa478b.b5e428"]]},{"id":"9d4a35ff.32bc","type":"function","z":"77afa456.4cd374","name":"combine shares","func":"var {execSync} =  global.get('childProcess')\nvar fs = global.get('fs')\n\nlet share1, share2, share_XORed, share_reduced\nlet share_2_location = msg.matching.shareFolderPath\nlet lsbBuff = Buffer.alloc(1)\nlet msbBuff = Buffer.alloc(1)\nlet reduced_lsb = Buffer.alloc(1)\nlet reduced_msb = Buffer.alloc(1)\n\nfor(var i = 1; i <= msg.data.ibvs.length; i++ ){\n    // write share1\n    fs.writeFileSync(msg.matching.shareFolderPath + \"ibv\" + i + \"_share_1_decrypted\", msg.challenge.share1_vEnc[i-1])\n    \n    // base64 decode both\n    execSync(\"base64 -d \" + msg.matching.shareFolderPath + \"ibv\" + i + \"_share_1_decrypted > share1_temp\")\n    execSync(\"base64 -d \" + msg.matching.shareFolderPath + \"ibv\" + i + \"_share_2_decrypted > share2_temp\")\n    \n    // overwrite old\n    execSync(\"mv share1_temp \" + msg.matching.shareFolderPath + \"ibv\" + i + \"_share_1_decrypted_and_decoded\")\n    execSync(\"mv share2_temp \" + msg.matching.shareFolderPath + \"ibv\" + i + \"_share_2_decrypted_and_decoded\")\n    \n    // read as pure buffer\n    share1 = fs.readFileSync(msg.matching.shareFolderPath + \"ibv\" + i + \"_share_1_decrypted_and_decoded\")\n    share2 = fs.readFileSync(msg.matching.shareFolderPath + \"ibv\" + i + \"_share_2_decrypted_and_decoded\")\n    \n    // XOR shares\n    share_XORed = Buffer.alloc(share1.length)\n    for(var j = 0; j < share1.length; j++){\n        share_XORed[j] = share1[j] ^ share2[j]\n    }\n    \n    // REDUCE xored share\n    share_reduced = Buffer.alloc(share_XORed.length/2)\n    for(var k = 0; k < share_XORed.length / 2; k++){\n        let n = 2*k\n        let p = (2*k)+1\n        msbBuff[0] = share_XORed[n]\n        lsbBuff[0] = share_XORed[p]\n        reduced_msb = reduceBuffer(msbBuff)\n        reduced_lsb = reduceBuffer(lsbBuff)\n        let resBuffer = Buffer.alloc(1)\n        resBuffer[0] = resBuffer[0] | reduced_msb[0]\n        resBuffer[0] = resBuffer[0] << 4\n        resBuffer[0] = resBuffer[0] | reduced_lsb[0]\n        share_reduced[k] = resBuffer[0]\n    }\n}\n\nmsg.matching.reducedShare = share_reduced\nreturn msg;\n\nfunction reduceBuffer(inBuff){\n    let buff = inBuff\n    let res = Buffer.alloc(1)\n    for(var i = 0; i <= 3; i++){\n        let x = buff[0] & 0xc0\n        if(x == 0xc0){\n            msg.firstIf = true\n            res[0] += 1\n            buff[0] = buff[0] << 2\n            if(i != 3){\n                res[0] = res[0] << 1\n            }\n        }else{\n            buff[0] = buff[0] << 2\n            if(i != 3){\n                res[0] = res[0] << 1\n            }\n        }\n    }\n    return res\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":1220,"wires":[["4cd50b19.4134f4","ee79cd1b.4f1ca8","aadc8f7b.05bda"]]},{"id":"4cd50b19.4134f4","type":"function","z":"77afa456.4cd374","name":"try matching","func":"msg.matching.status = false\nvar x = Buffer.compare(msg.data.ibvs[0].buffer,msg.matching.reducedShare)\nif (x == 0){\n    msg.matching.status = true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1220,"wires":[["63879df5.8bc944","8e167847.ad599"]]},{"id":"80a5fae8.328e1","type":"function","z":"e5e12e11.00c9c","name":"append share 2/2","func":"var fs = global.get('fs')\n\nlet path = \"/data/localstorage/\"\nlet ibv, filename, shareLocation, ibvIndex\n\nmsg.challenge.share1_vEnc = {}\nfor(let i = 1; i <= msg.data.ibvs.length; i++ ){\n    ibv = \"ibv\" + i + \"_\"\n    filename = ibv + msg.data.did.id + \"_share_1\"\n    shareLocation = path + filename\n    ibvIndex = i -1\n    ibvIndex = ibvIndex.toString()\n    msg.challenge.share1_vEnc[i-1] = fs.readFileSync(shareLocation)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":1540,"wires":[["57284780.01b078","c3ce813f.b13bf","1b02ab67.4a398d","539c4023.8ab4d","55bca902.0a0a9"]]},{"id":"c3ce813f.b13bf","type":"debug","z":"e5e12e11.00c9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1280,"wires":[]},{"id":"1b02ab67.4a398d","type":"debug","z":"e5e12e11.00c9c","name":"ibv2_share1","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"challenge.share2_enc[\"1\"]","targetType":"msg","statusVal":"ibv1","statusType":"auto","x":970,"y":1380,"wires":[]},{"id":"55bca902.0a0a9","type":"debug","z":"e5e12e11.00c9c","name":"ibv3_share1","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"challenge.share2_enc[\"2\"]","targetType":"msg","statusVal":"ibv1","statusType":"auto","x":970,"y":1440,"wires":[]},{"id":"539c4023.8ab4d","type":"debug","z":"e5e12e11.00c9c","name":"ibv1_share1","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"challenge.share2_enc[\"0\"]","targetType":"msg","statusVal":"ibv1","statusType":"auto","x":970,"y":1320,"wires":[]},{"id":"d26d5e8.6f2bba","type":"function","z":"77afa456.4cd374","name":"decrypt secEncKey and use it to decrypt shares","func":"var fs = global.get('fs')\nvar {execSync} = global.get('childProcess')\n\n// prep\nlet path = \"/bops2-data/temp/\" + msg.data.did.id + \"/\"\nlet shareFolderPath = path + \"shares/\"\nlet ibv_prefix = \"ibv\"\nlet ibv_postfix = \"_\"\nlet share_postfix = \"share_2\"\nlet key_postfix \nlet shareFilename  \nlet shareLocation \nlet keyFilename  \nlet keyLocation \n\n// create dir\nfs.mkdirSync(path)\n\n// persist encrypted sec key\nencKeyFilename = \"encSecKey\"\nencKeyLocation = path + encKeyFilename\nfs.writeFileSync(encKeyLocation, msg.data.authreq.didDoc.encSecKey)\n\n// location for the decrypted secretKey to be stored\nsecKeyFilename = \"secKey\"\nsecKeyLocation = path + secKeyFilename\n\n// location of the shared bops key that allows decryption\ndecryptionKeyPath = \"/bops2-data/keys/\"\ndecryptionKeyFilename = \"rsa_sharedBOPSnetworkKey_private.pem\"\ndecryptionKeyLocation = decryptionKeyPath + decryptionKeyFilename\n\n// decrypt secEncKey to secretKey\nexecSync(\"base64 -d \" + encKeyLocation + \" > \" + encKeyLocation + \"_b64dec\")\nexecSync(\"openssl rsautl -decrypt -inkey \" + decryptionKeyLocation + \" -in \" + encKeyLocation + \"_b64dec -out \" + secKeyLocation)\n\n// persist shares\nfs.mkdirSync(shareFolderPath)\nfor(var i = 1; i <= msg.data.ibvs.length; i++ ){\n    shareFilename = ibv_prefix + i + ibv_postfix + share_postfix\n    shareLocation = shareFolderPath + shareFilename\n    if(i == 1){\n        fs.writeFileSync(shareLocation, msg.data.authreq.didDoc.ibv0_share2)\n    }else if(i==2){\n        fs.writeFileSync(shareLocation, msg.data.authreq.didDoc.ibv1_share2)\n    }else if(i==3){\n        fs.writeFileSync(shareLocation, msg.data.authreq.didDoc.ibv2_share2)\n    }\n    // transform to binary representation\n    execSync(\"base64 -d \" + shareLocation + \" > \" + shareLocation + \"_b64dec\")\n    // overwrite base64 share\n    execSync(\"mv \" + shareLocation + \"_b64dec \" + shareLocation)\n    execSync(\"openssl aes-256-cbc -d -in \" + shareLocation + \" -out \" + shareLocation + \"_decrypted \" + \"-pass file:\" + secKeyLocation)\n}\n\n// export\nmsg.matching = {}\nmsg.matching.shareFolderPath = shareFolderPath\nmsg.matching.rootPath = path\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1220,"wires":[["9d4a35ff.32bc","19843201.1d950e"]]},{"id":"7176c17e.a3477","type":"debug","z":"77afa456.4cd374","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":580,"wires":[]},{"id":"ff5bf3b6.f6857","type":"debug","z":"77afa456.4cd374","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":580,"wires":[]},{"id":"c16128ec.c1ba4","type":"debug","z":"77afa456.4cd374","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1000,"wires":[]},{"id":"d460b6a0.33c018","type":"function","z":"b7289258.0cfa2","name":"prepartion: rsa private key generation","func":"const md5 = global.get('md5');\n\n// move payload out of the way\nmsg.tmp = msg.payload;\n\n// md5 as id for files\nvar md5hash = md5(msg.req.files[0].buffer);\nmsg.id_gen = {};\nmsg.id_gen.md5 = md5hash;\nmsg.id_gen.path = \"/data/keys/\";\nmsg.id_gen.privKeyFileName = \"rsa_\" + msg.id_gen.md5 + \"_private.pem\";\nmsg.id_gen.pubKeyFileName = \"rsa_\" + msg.id_gen.md5 + \"_public.pem\";\n\n// payload for openssl exec node\nmsg.payload = \"genrsa -out \" + msg.id_gen.path + msg.id_gen.privKeyFileName + \" 2048\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["bf87cdd0.f5483"]]},{"id":"bf87cdd0.f5483","type":"exec","z":"b7289258.0cfa2","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":320,"wires":[["9bc328a6.f39cb"],[],[]]},{"id":"9bc328a6.f39cb","type":"function","z":"b7289258.0cfa2","name":"preparation: rsa public key generation","func":"msg.payload = \"rsa -in \" + msg.id_gen.path + msg.id_gen.privKeyFileName + \" -outform PEM -pubout -out \" + msg.id_gen.path + msg.id_gen.pubKeyFileName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":360,"wires":[["b46c8c9f.77ce3"]]},{"id":"b46c8c9f.77ce3","type":"exec","z":"b7289258.0cfa2","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":400,"wires":[["c6696522.34a75","9f6522c0.6dec1","45e0225e.2df1c4"],[],[]]},{"id":"45e0225e.2df1c4","type":"function","z":"b7289258.0cfa2","name":"sanitize","func":"msg.payload = msg.tmp;\ndelete msg.rc;\ndelete msg.tmp;\ndelete msg.id_gen;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[[]]},{"id":"63523105.5131","type":"function","z":"b7289258.0cfa2","name":"transform ibv0_sh1 to identifier-hash","func":"const md5 = global.get('md5');\nmsg.data = {};\nmsg.data.PII = {};\nmsg.data.PII['username'] = md5(msg.req.files[0].buffer);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":240,"wires":[["d460b6a0.33c018"]]},{"id":"ac02242f.4353c8","type":"exec","z":"b7289258.0cfa2","command":"chmod","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":440,"wires":[[],[],[]]},{"id":"c6696522.34a75","type":"function","z":"b7289258.0cfa2","name":"","func":"var rights = \" 777 \";\nmsg.payload = rights + msg.id_gen.path + msg.id_gen.privKeyFileName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":480,"wires":[["15a7241a.5f06a4"]]},{"id":"15a7241a.5f06a4","type":"exec","z":"b7289258.0cfa2","command":"chmod","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":480,"wires":[[],[],[]]},{"id":"9f6522c0.6dec1","type":"function","z":"b7289258.0cfa2","name":"","func":"var rights = \" 777 \";\nmsg.payload = rights + msg.id_gen.path + msg.id_gen.pubKeyFileName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":440,"wires":[["ac02242f.4353c8"]]},{"id":"3bcced9c.8006da","type":"function","z":"63fbac4a.cff4dc","name":"prepartion: rsa private key generation","func":"const md5 = global.get('md5');\n\n// move payload out of the way\nmsg.tmp = msg.payload;\n\n// md5 as id for files\nvar md5hash = md5(msg.req.files[0].buffer);\nmsg.id_gen = {};\nmsg.id_gen.md5 = md5hash;\nmsg.id_gen.path = \"/data/keys/\";\nmsg.id_gen.privKeyFileName = \"rsa2_\" + msg.id_gen.md5 + \"_private.pem\";\nmsg.id_gen.pubKeyFileName = \"rsa2_\" + msg.id_gen.md5 + \"_public.pem\";\n\n// payload for openssl exec node\nmsg.payload = \"genrsa -out \" + msg.id_gen.path + msg.id_gen.privKeyFileName + \" 2048\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":120,"wires":[["beaae478.76bb58"]]},{"id":"beaae478.76bb58","type":"exec","z":"63fbac4a.cff4dc","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":160,"wires":[["b2d30eda.0088f"],[],[]]},{"id":"b2d30eda.0088f","type":"function","z":"63fbac4a.cff4dc","name":"preparation: rsa public key generation","func":"msg.payload = \"rsa -in \" + msg.id_gen.path + msg.id_gen.privKeyFileName + \" -outform PEM -pubout -out \" + msg.id_gen.path + msg.id_gen.pubKeyFileName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":200,"wires":[["b17d0dea.ccb19"]]},{"id":"b17d0dea.ccb19","type":"exec","z":"63fbac4a.cff4dc","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":240,"wires":[["81731f21.105ab","60107d58.99308c"],[],[]]},{"id":"26dfb401.eae264","type":"function","z":"63fbac4a.cff4dc","name":"transform ibv0_sh1 to identifier-hash","func":"const md5 = global.get('md5');\nmsg.data = {};\nmsg.data.PII = {};\nmsg.data.PII['username'] = md5(msg.req.files[0].buffer);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":80,"wires":[["3bcced9c.8006da"]]},{"id":"a7014113.a3662","type":"exec","z":"63fbac4a.cff4dc","command":"chmod","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":280,"wires":[[],[],[]]},{"id":"81731f21.105ab","type":"function","z":"63fbac4a.cff4dc","name":"","func":"var rights = \" 777 \";\nmsg.payload = rights + msg.id_gen.path + msg.id_gen.privKeyFileName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":320,"wires":[["52fcd702.814d98"]]},{"id":"52fcd702.814d98","type":"exec","z":"63fbac4a.cff4dc","command":"chmod","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":320,"wires":[[],[],[]]},{"id":"60107d58.99308c","type":"function","z":"63fbac4a.cff4dc","name":"","func":"var rights = \" 777 \";\nmsg.payload = rights + msg.id_gen.path + msg.id_gen.pubKeyFileName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":280,"wires":[["a7014113.a3662"]]},{"id":"19843201.1d950e","type":"debug","z":"77afa456.4cd374","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1000,"wires":[]},{"id":"27a751bb.6c2c26","type":"function","z":"e14be71e.9ff1c","name":"","func":"msg.filename = \"/data/temp/\" + msg.data.PII.username + \"_secKeyEnc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":300,"wires":[["f6f9dad8.4a32a8"]]},{"id":"8700d48b.469e38","type":"function","z":"e14be71e.9ff1c","name":"","func":"msg.payload = \"rsautl -encrypt -in /data/temp/\" + msg.data.PII.username + \"_secretKey -out /data/temp/\" + msg.data.PII.username + \"_secKeyEnc -pubin -inkey /data/keys/rsa_sharedBOPSnetworkKey_public.pem\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["3b9590a8.ccc428","d061a140.e5617"]]},{"id":"7a322e9a.7be4e","type":"template","z":"d606f1f3.653fa8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"aes-256-cbc -e -in /data/localstorage/ibv{{payload.ibvIndex}}_{{payload.username}}_share_2 -pass file:/data/temp/{{payload.username}}_secretKey","output":"str","x":840,"y":600,"wires":[["9dd57b8e.3d6c68","a37e5836.cec838"]]},{"id":"63c764d1.734bdc","type":"debug","z":"d606f1f3.653fa8","name":"stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":120,"wires":[]},{"id":"606bb97a.6a9ec8","type":"debug","z":"d606f1f3.653fa8","name":"split ibvs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":80,"wires":[]},{"id":"ee79cd1b.4f1ca8","type":"debug","z":"77afa456.4cd374","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":1000,"wires":[]},{"id":"aadc8f7b.05bda","type":"function","z":"77afa456.4cd374","name":"purge files","func":"var {execSync} = global.get('childProcess')\nexecSync(\"rm -rf \" + msg.matching.rootPath )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1280,"wires":[[]]},{"id":"1526baf2.580d15","type":"template","z":"d2f86ab8.e17268","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sorry, your candidate biometric vector did not match the combined shares","output":"str","x":200,"y":80,"wires":[["58c70226.58231c"]]},{"id":"58c70226.58231c","type":"http response","z":"d2f86ab8.e17268","name":"","statusCode":"","headers":{},"x":380,"y":80,"wires":[]},{"id":"63879df5.8bc944","type":"switch","z":"77afa456.4cd374","name":"match?","property":"matching.status","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1620,"y":1220,"wires":[["5e735378.f19cc4"],["1ea0a233.cfcf26"]]},{"id":"8e167847.ad599","type":"debug","z":"77afa456.4cd374","name":"match?","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"matching.status","targetType":"msg","statusVal":"matching.status","statusType":"auto","x":1620,"y":1000,"wires":[]},{"id":"1ea0a233.cfcf26","type":"subflow:d2f86ab8.e17268","z":"77afa456.4cd374","name":"fail@matchingStage","env":[],"x":1860,"y":1260,"wires":[]},{"id":"86c738f2.9665c","type":"debug","z":"eb92265a.6276e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"7865ad76.8c3a64","type":"debug","z":"eb92265a.6276e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":580,"wires":[]},{"id":"57c37a9f.b92844","type":"debug","z":"eb92265a.6276e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":190,"y":120,"wires":[]},{"id":"ac59a929.4c5348","type":"function","z":"eb92265a.6276e","name":"init flow vars","func":"flow.set(\"sessionReq2verificationState\",{})\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"sessionReq2verificationState\",{})","finalize":"","x":190,"y":80,"wires":[["57c37a9f.b92844"]]},{"id":"7ac08b7e.17d22c","type":"comment","z":"eb92265a.6276e","name":"self-executing init","info":"","x":180,"y":40,"wires":[]},{"id":"3d366fd6.77325","type":"http response","z":"eb92265a.6276e","name":"","statusCode":"200","headers":{},"x":800,"y":780,"wires":[]},{"id":"9b9f7c89.605e88","type":"template","z":"eb92265a.6276e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Well, that was a match - thanks for identifying.","output":"str","x":600,"y":780,"wires":[["3d366fd6.77325"]]},{"id":"9a6c099c.305cb","type":"comment","z":"eb92265a.6276e","name":"auth flow part 1: \\n generate a sessionID","info":"","x":140,"y":380,"wires":[]},{"id":"22d5f854.693758","type":"comment","z":"eb92265a.6276e","name":"auth flow part 2: \\n authorize access","info":"","x":160,"y":720,"wires":[]}]